<!DOCTYPE html>
<html layout:decorate="~{layout}">

<section layout:fragment="content" class='page-content'>

	<h1>Data Update</h1>
	<a href="#" th:href="@{/dataupdates/runupdate/{id}(id=${dataupdate.id})}" class="btn btn-primary">Run Update</a>
    <div class='columns'>
        <div class='column has-text-weight-bold'>Tracker:</div>
        <div class='column' th:text="${dataupdate.tracker.name}">module</div>
        <div class='column has-text-weight-bold'>Date:</div>
        <div class='column' th:text="${dataupdate.createdDate}">slug</div>
    </div>

</section>

</html>