<!DOCTYPE html>
<html layout:decorate="~{layout/main}">

<section layout:fragment="content" class='page-content'>
    <div class='content'>
        <h1>DataUpdate Listing</h1>
        <a href="#" th:href="@{/dataupdates/create}" class="btn btn-primary">Add</a>
        <table class="table">
            <tr>
                <th>#</th>
                <th>Tracker</th>
                <th>Date</th>
                <th>File</th>
                <th>&nbsp;</th>
            </tr>
            <tr th:each="dataupdate,iter: ${dataupdates}">
                <td><a href='#' th:href='@{/dataupdates/display/{id}(id=${dataupdate.id})}'
                        th:text="${iter.index + 1}">2</a></td>
                <td th:text="${dataupdate.tracker?.name}">module</td>
                <td th:text="${dataupdate.createdDate}">title</td>
                <td th:text="${dataupdate.filelink?.name}">name</td>
                <td>
                    <form method='post' th:action='@{/dataupdates/delete/{id}(id=${dataupdate.id})}'
                        th:object="${dataupdate}">
                        <input type='submit' class='button danger'
                            th:onClick='return confirm("Confirm delete dataupdate " + this.getAttribute("data-fname") + "?");'
                            th:attr="data-fname=${dataupdate.createdDate}" value='Delete' />
                    </form>
                </td>
            </tr>
        </table>
    </div>

    <nav th:replace="macros/portal::navpagination(items=${dataupdates},url='/dataupdates')"></nav>

</section>

</html>