<!DOCTYPE html>
<html layout:decorate="~{layout}">

<section layout:fragment="content" class='page-content'>
    <div class='content'>
        <h1>Display Data</h1>

        <a href="#" th:href="${pnode.portalPath()}"
            class="btn btn-primary">List</a>
        <a th:if="${@trackerService.editable(tracker,datas.get('id'))}" href="#"
            th:href="@{{portalPath}/t/edit/{id}(portalPath=${pnode.portalPath()},id=${datas.get('id')})}"
            class="btn btn-primary">Edit</a>
        <a th:each="transition:${@trackerService.record_transitions(tracker,datas.get('id'))}" class="btn btn-primary"
            th:href="@{/{portalPath}/t/transition/{transition_id}/{id}(transition_id=${transition.id},portalPath=${pnode.portalPath()},id=${datas.get('id')})}"><span
                th:text="${transition.name}">Transition</span> </a>
        <div class='dataform' th:replace="tracker/trackerbase::datadisplay(tracker=${tracker},datas=${datas})">
        </div>

    </div>

</section>