<!DOCTYPE html>
<html layout:decorate="~{layout/main}">

<section layout:fragment="content" class='page-content'>

    <div class='content'>

        <h1 th:text="${listtitle}">Tracker List</h1>
        <a th:if="${pnode}" href="#" th:href="@{/{portalPath}/t/create(portalPath=${pnode.portalPath()})}"
            class="btn btn-primary">Add</a>
        <a th:unless="${pnode}" href="#" th:href="@{/{module}/{slug}/create(module=${tracker.module},slug=${tracker.slug})}"
            class="btn btn-primary">Add</a>
        <div th:replace="tracker/trackerbase::trackerfilter(tracker=${tracker})"></div>
        <table class="table table-border-y text-dark-m2 text-95 border-y-1 brc-secondary-l1 dataTable no-footer"
            th:replace="tracker/trackerbase::datatable(tracker=${tracker},dataset=${dataset})">
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Date</th>
                <th>Description</th>
            </tr>
        </table>
    </div>

    <nav th:replace="interface/pagination::navpagination(items=${dataset},url=${#request.requestURI})"></nav>

</section>