<!DOCTYPE html>
<html layout:decorate="~{layout/base}">

	<th:block layout:fragment="theme-css">
		<link rel="stylesheet" th:href="@{/libs/ace/css/ace-font.min.css}" />
		<link rel="stylesheet" th:href="@{/libs/ace/css/ace.min.css}" />
		<link rel="stylesheet" th:href="@{/libs/portal/portal.css}" />
	</th:block>

<div layout:fragment="body-container" class="body-container">

	<div th:replace="~{interface/navbar}"></div>


	<div class="main-container">

		<div th:replace="~{interface/sidebar}"></div>

		<div class="main-content" role="main">
			<div th:replace="~{interface/breadcrumb}"></div>
			<div class="page-content container">
				<section layout:fragment="content"></section>
			</div>
			<!-- /.page-content -->
		</div>


	</div>

	<div th:replace="~{interface/footer}"></div>

</div>

<th:block layout:fragment="layout-javascript">
<script type="text/javascript" th:src="@{/libs/ace/js/ace.js}"></script>
</th:block>

</html>