<!DOCTYPE html>
<html layout:decorate="~{layout/main}">

<section  layout:fragment="content" class='tree-content'>

<div class='content'>
<h1 th:text="${pnode.name}">Node Listing</h1>

<ul class="list-group list-group-flush">
<li class="list-group-item" th:each="cnode,iter: ${@treeService.publishedChildren(pnode)}">
<a th:href="@{/p{fullpath}(fullpath=${@treeService.rootLessPath(cnode)})}"><b class="fa fa-file" th:if='${cnode.getObjectType()!=null && cnode.getObjectType().equals("File")}'></b><b class="fa fa-code" th:if='${cnode.getObjectType()!=null && cnode.getObjectType().equals("Page")}'></b><b class="fa fa-folder" th:if='${cnode.getObjectType()==null || cnode.getObjectType()=="" || cnode.getObjectType()=="Folder"}'></b></a>
&nbsp; &nbsp;
<a th:href="@{/p{fullpath}(fullpath=${@treeService.rootLessPath(cnode)})}" th:text="${cnode.name}">Child</a>
</li>
</ul>

</div>

</section>
</html>