<!DOCTYPE html>
<html layout:decorate="~{layout}">

<section layout:fragment="content" class='page-content'>
    <div class='content'>
        <h1>Field Tracker</h1>
        <form method='post' th:action='@{/trackers/fields/{tracker_id}/save(tracker_id=${tracker.id})}'
            th:object="${tracker_field}">
            <input type='hidden' name='id' th:value='${tracker_field.id}' />
            <input type='hidden' name='tracker_id' th:value='${tracker.id}' />
            <div class='form-group row'>
                <div class='col-sm-3 col-form-label text-sm-right pr-0'>
                    <label class='mb-0'>Name</label></div>
                <div class='col-sm-9'>
                    <input class="form-control col-sm-8 col-md-6" type='text' name='name'
                        th:value="${tracker_field.name}" />
                </div>
            </div>
            <div class='form-group row'>
                <div class='col-sm-3 col-form-label text-sm-right pr-0'>
                    <label class='mb-0'>Label</label></div>
                <div class='col-sm-9'>
                    <input class="form-control col-sm-8 col-md-6" type='text' name='label'
                        th:value="${tracker_field.label}" />
                </div>
            </div>
            <div class='form-group row'>
                <div class='col-sm-3 col-form-label text-sm-right pr-0'>
                    <label class='mb-0'>Type</label></div>
                <div class='col-sm-9'>
                    <select class='input' name='field_type' th:value="${tracker_field.fieldType}">
                        <option th:each="opt,iter: ${tracker_field.typeOptions}" th:text="${opt}" th:value="${opt}"
                            th:selected="${tracker_field.fieldType==opt}">
                        </option>
                    </select>
                </div>
            </div>
            <div class='form-group row'>
                <div class='col-sm-3 col-form-label text-sm-right pr-0'>
                    <label class='mb-0'>Widget</label></div>
                <div class='col-sm-9'>
                    <select class='input' name='field_widget' th:value="${tracker_field.fieldWidget}">
                        <option th:each="opt,iter: ${tracker_field.widgetOptions}" th:text="${opt}" th:value="${opt}"
                            th:selected="${tracker_field.fieldWidget==opt}">
                        </option>
                    </select>
                </div>
            </div>
            <div class='form-group row'>
                <div class='col-sm-3 col-form-label text-sm-right pr-0'>
                    <button class='button' name='save'>Save</button>
                    <button class='button' name='cancel'>Cancel</button>
                </div>
        </form>
    </div>
</section>

</html>