<!DOCTYPE html>
<html layout:decorate="~{layout/main}">

<th:block layout:fragment="head-end">
<link rel="stylesheet" th:href="@{/libs/jsoneditor/jsoneditor.min.css}" />

<style type="text/css" media="screen">
form .ace_editor { 
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
</style>

</th:block>

<section layout:fragment="content" class='page-content'>
    <div class='content'>
        <h1>Field Tracker</h1>
        <form method='post' id="fieldForm" th:action='@{/admin/trackers/fields/{tracker_id}/save(tracker_id=${tracker.id})}'
            th:object="${tracker_field}">
            <input type='hidden' name='id' th:value='${tracker_field.id}' />
            <input type='hidden' name='tracker_id' th:value='${tracker.id}' />
            <div class='form-group row'>
                <div class='col-sm-3 col-form-label text-sm-right pr-0'>
                    <label class='mb-0'>Name</label></div>
                <div class='col-sm-9'>
                    <input class="form-control col-sm-8 col-md-6" type='text' name='name'
                        th:value="${tracker_field.name}" />
                </div>
            </div>
            <div class='form-group row'>
                <div class='col-sm-3 col-form-label text-sm-right pr-0'>
                    <label class='mb-0'>Label</label></div>
                <div class='col-sm-9'>
                    <input class="form-control col-sm-8 col-md-6" type='text' name='label'
                        th:value="${tracker_field.label}" />
                </div>
            </div>
            <div class='form-group row'>
                <div class='col-sm-3 col-form-label text-sm-right pr-0'>
                    <label class='mb-0'>Type</label></div>
                <div class='col-sm-9'>
                    <select class='input' name='fieldType' th:value="${tracker_field.fieldType}">
                        <option th:each="opt,iter: ${tracker_field.typeOptions}" th:text="${opt}" th:value="${opt}"
                            th:selected="${tracker_field.fieldType==opt}">
                        </option>
                    </select>
                </div>
            </div>
            <div class='form-group row'>
                <div class='col-sm-3 col-form-label text-sm-right pr-0'>
                    <label class='mb-0'>Widget</label></div>
                <div class='col-sm-9'>
                    <select class='input' name='fieldWidget' th:value="${tracker_field.fieldWidget}">
                        <option th:each="opt,iter: ${tracker_field.widgetOptions}" th:text="${opt}" th:value="${opt}"
                            th:selected="${tracker_field.fieldWidget==opt}">
                        </option>
                    </select>
                </div>
            </div>
            <div class='form-group row'>
                <div class='col-sm-3 col-form-label text-sm-right pr-0'>
                    <label class='mb-0'>Option Source Type</label></div>
                <div class='col-sm-9'>
                    <select class='input' name='optionSourceType' th:value="${tracker_field.optionSourceType}">
                        <option th:each="opt,iter: ${tracker_field.optionSourceTypeOptions}" th:text="${opt}" th:value="${opt}"
                            th:selected="${tracker_field.optionSourceType==opt}">
                        </option>
                    </select>
                </div>
            </div>
            <div class='form-group row'>
                <div class='col-sm-3 col-form-label text-sm-right pr-0'>
                    <label class='mb-0'>Option Source</label></div>
                <div class='col-sm-9'>
                    <input type='hidden' th:field="*{optionSource}"/>
                    <div class="form-control col-sm-8 col-md-6" style="width: 400px; height: 400px;" id="jsonEditor"></div>
                </div>
            </div>
            <div class='form-group row'>
                <div class='col-sm-3 col-form-label text-sm-right pr-0'>
                    <label class='mb-0'>Option Source Groovy</label></div>
                <div class='col-sm-9' style="min-height: 25em;">
                	<input type='hidden' th:field="*{optionSourceGroovy}"/>                    
                    <textarea class='textarea col-12' rows="15" id='groovycontenteditor' th:text="${tracker_field.optionSourceGroovy}">
                    </textarea>
                </div>
            </div>
            <div class='form-group row'>
                <div class='col-sm-3 col-form-label text-sm-right pr-0'>
                    <label class='mb-0'>Auto Value</label></div>
                <div class='col-sm-9' style="min-height: 25em;">
                	<input type='hidden' th:field="*{autoValue}"/>                    
                    <textarea class='textarea col-12' rows="15" id='contenteditor' th:text="${tracker_field.autoValue}">
                    </textarea>
                </div>
            </div>
            <div class='form-group row'>
                <div class='offset-md-3 col-md-9'>
                    <button class='btn btn-info' name='save'>Save</button>
                    <button class='btn btn-secondary' name='cancel'>Cancel</button>
                </div>
            </div>
        </form>
    </div>
</section>

</html>

<th:block layout:fragment="page-javascript">
<script type="text/javascript" th:src="@{/libs/jsoneditor/jsoneditor.min.js}"></script>
<script th:src="@{/libs/ace-editor/ace.js}" type="text/javascript" charset="utf-8"></script>
<script>
var container = document.getElementById('jsonEditor');
var options = {
		mode: 'tree'
};
var editor = new JSONEditor(container,options);
if($('#optionSource').val()){
    editor.set(JSON.parse($('#optionSource').val()));
}

var aceeditor = ace.edit("contenteditor");
aceeditor.setTheme("ace/theme/chrome");
aceeditor.session.setMode("ace/mode/groovy");

var groovyeditor = ace.edit("groovycontenteditor");
groovyeditor.setTheme("ace/theme/chrome");
groovyeditor.session.setMode("ace/mode/groovy");

$('#fieldForm').on('submit',function(){
	$('#optionSource').val(JSON.stringify(editor.get()));
	$('#autoValue').val(aceeditor.getValue());
	$('#optionSourceGroovy').val(groovyeditor.getValue());
});
</script>

</th:block>