<!DOCTYPE html>
<html th:replace="~{layout::layout(~{::title},~{::section})}"
		xmlns="http://www.w3.org/1999/xhtml" 
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<title th:text='${tracker.title}'>Tracker Display</title>
<body>
<section  class='page-content'>
<h1>Tracker Info</h1>
<h2 th:text="${tracker.title}">Tracker title</h2>

<div th:replace="tracker/trackerbase::trackertabs(current_active='fields')" class="tabs is-boxed">

</div>

<a href="#" th:href="@{/trackers/fields/{id}/create(id=${tracker.id})}" class="btn btn-primary">Add</a>
<a href="#" th:href="@{/trackers/{id}/exceltemplate(id=${tracker.id})}" class="btn btn-primary">Import Excel</a>

<div class='table-container'>
<table class="table table-border-y text-dark-m2 text-95 border-y-1 brc-secondary-l1 dataTable no-footer">
<tr><th>#</th><th>Name</th><th>Label</th><th>Type</th><th>Widget</th><th>&nbsp;</th></tr>
<tr th:each="field,iter: ${tracker.fields}">
<td><a href='#' th:href='@{/trackers/fields/{tracker_id}/edit/{field_id}(tracker_id=${tracker.id},field_id=${field.id})}' th:text="${iter.index + 1}">2</a></td>
<td th:text="${field.name}">name</td>
<td th:text="${field.label}">name</td>
<td th:text="${field.fieldType}">name</td>
<td th:text="${field.fieldWidget}">name</td>
<td>
<form method='post' th:action='@{/trackers/fields/{tracker_id}/delete/{field_id}(tracker_id=${tracker.id},field_id=${field.id})}' th:object="${field}">
<input type='submit' class='button danger' th:onClick='return confirm("Confirm delete field " + this.getAttribute("data-fname") + "?");' th:attr="data-fname=${field.name}" value='Delete'/>
</form>
</td>
</tr>
</table>
</div>

</section>
</body>
</html>