<html layout:decorate="~{layout/main}">

<th:block layout:fragment="head-context">
<style>
@media only screen and (max-width: 760px),(min-device-width: 768px) and (max-device-width: 1024px)  {
	.responsive td:nth-of-type(1):before { content:'#'; }
	.responsive td:nth-of-type(2):before { content:'Module'; }
	.responsive td:nth-of-type(3):before { content:'Slug'; }
	.responsive td:nth-of-type(4):before { content:'Name'; }
	.responsive td:nth-of-type(5):before { content:'Node'; }
}
</style>
</th:block>

<section layout:fragment="content" class='page-content'>
    <div class='content'>
        <h1>Tracker Listing</h1>
        <a href="#" th:href="@{/admin/trackers/create}" class="btn btn-primary" id="tracker_add">Add</a>
        
        <div class="card-body px-3 pb-1">
		  <form class="mt-lg-3">
		  	<div class="form-group row">
		  		<div class="mb-1 mb-sm-0 col-sm-3 col-form-label text-sm-right pr-0">        	
		  			<label><span>Module</span>:</label>
		  		</div>
		  		<div class="col-sm-9 input-floating-label text-blue-d2 brc-blue-m1">
		  			<select name="module" id="module" onchange="submit();">
		  				<option>All</option>
		  				<option th:each="module:${@moduleService.list()}" th:value="${module.name}" th:text="${module.name}" th:selected="${param.module?.toString()==module.name}">All</option>  				
		  			</select>
		  		</div>
		  	</div>
		  	<div class="form-group row">
		  		<div class="mb-1 mb-sm-0 col-sm-3 col-form-label text-sm-right pr-0">        	
		  			<label>Search:</label>
		  		</div>
		  		<div class="col-sm-9 input-floating-label text-blue-d2 brc-blue-m1">
		  			<input type='text' name='q' th:value="${param.q}"/><button class="btn btn-primary m-1">Search</button>
		  		</div>
		  	</div>
		  </form>
		 </div>
        
        <table class="table responsive table-border-y text-dark-m2 text-95 border-y-1 brc-secondary-l1 dataTable no-footer">
        	<thead>
            <tr>
                <th>#</th>
                <th>Module</th>
                <th>Slug</th>
                <th>Name</th>
                <th>Node</th>
            </tr>
            </thead>
            <tr th:each="tracker,iter: ${trackers}">
                <td><a href='#' th:href='@{/admin/trackers/edit/{id}(id=${tracker.id})}' th:text="${iter.index + 1}">2</a>
                </td>
                <td th:text="${tracker.module}">module</td>
                <td><a href='#' th:href='@{/admin/trackers/display/{id}(id=${tracker.id})}' th:text="${tracker.slug}" th:attr="id='tracker_' + ${tracker.slug}" >slug</a>
                </td>
                <td th:text="${tracker.name}">title</td>
                <td th:text="${tracker.nodeId}">Node id</td>
            </tr>
        </table>
    </div>

    <nav th:replace="interface/pagination::navpagination(items=${trackers},url='/admin/trackers')"></nav>

</section>
</html>