<table th:fragment="datatable(tracker,dataset)" class="table">
<tr><th>#</th>
<th th:each="field,iter: ${@trackerService.field_list(tracker,'list',null)}" th:text="${field.label}">Module</th>
</tr>
<tr th:each="datas,iter: ${dataset.dataRows}">
<td><a href='#' th:text="${iter.count + dataset.number*10}" th:href="${pnode}?@{{requestURI}/t/display/{id}(requestURI=${#request.RequestURL},id=${datas.get('id')?.toString()})}:@{/{module}/{slug}/display/{id}(id=${datas.get('id')},module=${tracker.module},slug=${tracker.slug})}" >2</a></td>
<td th:each="field,iter: ${@trackerService.field_list(tracker,'list',null)}" th:text="${datas.get(field.name)?.toString()}">module</td>
</tr>
</table>

<div th:fragment="dataform(tracker,datas,transition)" class='dataform'>
<form method='post' th:action='${pnode}?@{{portalPath}/save(portalPath=${pnode.portalPath()})}:@{/{module}/{slug}/save(module=${tracker.module},slug=${tracker.slug})}' th:object="${tracker}">
<input type='hidden' name='id' th:value="${datas.get('id')?.toString()}" th:if="${datas?.get('id')!=null}"/>
<input type='hidden' name='transition_id' th:value="${transition.id}" th:if="${transition!=null}"/>

<div th:each="field,iter: ${@trackerService.field_list(tracker,'form',transition)}">
<div th:replace="tracker/trackerbase::dataformfield(tracker=${tracker},datas=${datas},field=${field})"></div>
</div>

<div class='form-group row'>
<div class='offset-md-3 col-md-9'>
<button class='btn btn-info' name='save'>Save</button>
<button class='btn btn-secondary' name='cancel'>Cancel</button>
</div>
</div>

</form>
</div>

<script th:fragment="dataformjs(tracker,datas,transition)" th:inline="javascript">
[# th:each="field,iter: ${@trackerService.field_list(tracker,'form',transition)}" th:if="${field.fieldType=='User'}"]
$('#val_[(${field.name})]').select2({
  ajax: {
    url: /*[[@{/api/users}]]*/'/dummy/api/users',
    dataType: 'json',
    processResults: function (data) {
    	var dat = $.map(data.content, function(obj){
    		var user = {id:obj.id,text:obj.name};
    		return user;
    	});
        // Transforms the top-level key of the response object from 'items' to 'results'
        return {results:dat};
      }
    // Additional AJAX parameters go here; see the end of this chapter for the full code of this example
  }
});
[/]

[# th:each="field,iter: ${@trackerService.field_list(tracker,'form',transition)}" th:if="${field.fieldType=='TrackerType'}"]
$('#val_[(${field.name})]').select2({
  ajax: {
    url: /*[[@{/api/users}]]*/'/dummy/api/users',
    dataType: 'json',
    processResults: function (data) {
    	var dat = $.map(data.content, function(obj){
    		var user = {id:obj.id,text:obj.name};
    		return user;
    	});
        // Transforms the top-level key of the response object from 'items' to 'results'
        return {results:dat};
      }
    // Additional AJAX parameters go here; see the end of this chapter for the full code of this example
  }
});
[/]
	
[# th:each="field,iter: ${@trackerService.field_list(tracker,'form',transition)}" th:if="${field.fieldType=='TreeNode'}"]
$('#val_[(${field.name})]').select2({
  ajax: {
    url: /*[[@{/api/trees/nodequery}]]*/'/dummy/api/users',
    dataType: 'json',
    processResults: function (data) {
    	var dat = $.map(data.content, function(obj){
    		var node = {id:obj.id,text:obj.name};
    		return node;
    	});
        // Transforms the top-level key of the response object from 'items' to 'results'
        return {results:dat};
      }
    // Additional AJAX parameters go here; see the end of this chapter for the full code of this example
  }
});
[/]
</script>

<div th:fragment="dataformfield(tracker,datas,field)" class="dataform form-group row">
<div class='col-sm-3 col-form-label text-sm-right pr-0'><label class='mb-0' th:text="${field.label}">Module</label></div>
<div class='col-sm-9'>
<select th:if="${field.fieldType=='TreeNode'}" class="form-control col-sm-8 col-md-6" type='text' th:id="${'val_' + field.name}" th:name="${'val_' + field.name}">
	<option th:value="${datas?.get(field.name)?.toString()}" th:text="${datas?.get(field.name)?.toString()}">option</option>
</select>
<input th:if="${field.fieldType!='TreeNode'}" class="form-control col-sm-8 col-md-6" type='text' th:id="${'val_' + field.name}" th:name="${'val_' + field.name}" th:value="${datas?.get(field.name)?.toString()}"/>
</div>
</div>

<div th:fragment="datadisplay(tracker,datas)" class='datadisplay'>
<div th:each="field,iter: ${@trackerService.field_list(tracker,'display',null)}" class='columns'>
<div class='column is-one-quarter has-text-weight-bold' th:text="${field.label + ':'}">Form Fields:</div>
<div class='column' th:text="${datas.get(field.name)?.toString()}" >data_table</div>
</div>
</div>

<div th:fragment="trackertabs(current_active)" class="tabs-above">

<ul class="nav nav-tabs nav-justified" role="tablist">
<li class="nav-item mr-1px">
    <a th:classappend="${current_active=='details'}?'active'" th:href="@{/trackers/display/{tracker_id}(tracker_id=${tracker.id})}" class="nav-link text-left radius-0"  >
        Details
    </a>
</li>
<li class="nav-item mr-1px">
    <a th:classappend="${current_active=='fields'}?'active'" th:href="@{/trackers/fields/{tracker_id}(tracker_id=${tracker.id})}" class="nav-link text-left radius-0" >
        Fields
    </a>
</li>
<li class="nav-item mr-1px">
    <a th:classappend="${current_active=='roles'}?'active'" th:href="@{/trackers/roles/{id}(id=${tracker.id})}" class="nav-link text-left radius-0" >
        Roles
    </a>
</li>
<li class="nav-item mr-1px">
    <a th:classappend="${current_active=='status'}?'active'" th:href="@{/trackers/status/{id}(id=${tracker.id})}" class="nav-link text-left radius-0" >
        Status
    </a>
</li>
<li class="nav-item">
    <a th:classappend="${current_active=='transitions'}?'active'" th:href="@{/trackers/transitions/{id}(id=${tracker.id})}" class="nav-link text-left radius-0" >
        Transitions
    </a>
</li>
</ul>
</div>