<table th:fragment="datatable(tracker,dataset)" class="table responsive">
<thead>
<tr><th>#</th>
<th th:each="field,iter: ${@trackerService.field_list(tracker,'list',null)}" th:text="${field.label}">Module</th>
<th th:if="${@trackerService.listAction(tracker)}">Action</th>
</tr>
</thead>
<tr th:each="datas,iter: ${dataset.dataRows}">
<td><a href='#' th:text="${iter.count + dataset.number*10}" th:href="${pnode}?@{{requestURI}/t/display/{id}(requestURI=${#request.RequestURL},id=${datas.get('id')?.toString()})}:@{/{module}/{slug}/display/{id}(id=${datas.get('id')},module=${tracker.module},slug=${tracker.slug})}" >2</a></td>
<td th:each="field,iter: ${@trackerService.field_list(tracker,'list',null)}" th:text="${@trackerService.display(field,datas)}">module</td>
<td th:if="${@trackerService.listAction(tracker)}">
<form th:if="${@trackerService.deletable(tracker,datas.get('id'))}" th:action="@{/{module}/{slug}/delete/{id}(module=${tracker.module},slug=${tracker.slug},id=${datas.get('id')})}" onsubmit="return confirm('Confirm delete?');" method="POST">
	<button class="btn btn-danger">Delete</button>
</form>
</td>
</tr>
</table>

<div th:fragment="dataform(tracker,datas,transition)" class='dataform'>
<form method='post' th:action='${pnode}?@{/{portalPath}/save(portalPath=${pnode.portalPath()})}:@{/{module}/{slug}/save(module=${tracker.module},slug=${tracker.slug})}' th:object="${tracker}">
<th:block  th:if="${datas?.get('id')!=null}">
<input type='hidden' name='id' th:value="${datas.get('id')?.toString()}"/>
</th:block>
<input type='hidden' name='transition_id' th:value="${transition.id}" th:if="${transition!=null}"/>

<div th:each="field,iter: ${@trackerService.field_list(tracker,'form',transition)}">
<input th:if="${field.fieldWidget=='Auto'}" type='hidden' th:id="${'val_' + field.name}" th:name="${'val_' + field.name}" value="auto_field"/>
<th:block th:unless="${field.fieldWidget=='Auto'}">
<div th:replace="tracker/trackerbase::dataformfield(tracker=${tracker},datas=${datas},field=${field})"></div>
</th:block>
</div>

<div class='form-group row'>
<div class='offset-md-3 col-md-9'>
<button class='btn btn-info' name='save'>Save</button>
<button class='btn btn-secondary' name='cancel'>Cancel</button>
</div>
</div>

</form>
</div>

<script th:fragment="dataformjs(tracker,datas,transition)" th:inline="javascript">

[# th:each="field,iter: ${@trackerService.field_list(tracker,'form',transition)}" th:if="${field.fieldType=='DateTime'}"]
$('#val_[(${field.name})]').datetimepicker({
	[# th:if="${datas}"]date: moment('[(${@trackerService.display(field,datas)})]','DD/MM/YYYY HH:mm:ss'),[/]
	format: 'DD/MM/YYYY HH:mm:ss',
	icons: {
        time: "fa fa-clock",
        date: "fa fa-calendar",
        up: "fa fa-arrow-up",
        down: "fa fa-arrow-down"
    },
});
[/]

[# th:each="field,iter: ${@trackerService.field_list(tracker,'form',transition)}" th:if="${field.fieldType=='Date'}"]
$('#val_[(${field.name})]').datetimepicker({
	[# th:if="${datas}"]date: moment('[(${@trackerService.display(field,datas)})]','DD/MM/YYYY'),[/]
	format: 'DD/MM/YYYY',
	icons: {
        time: "fa fa-clock",
        date: "fa fa-calendar",
        up: "fa fa-arrow-up",
        down: "fa fa-arrow-down"
    },
});
[/]


[# th:each="field,iter: ${@trackerService.field_list(tracker,'form',transition)}" th:if="${field.fieldType=='User' && field.fieldWidget!='Auto'}"]
$('#val_[(${field.name})]').select2({
  ajax: {
    url: /*[[@{/api/users}]]*/'/dummy/api/users',
    dataType: 'json',
    processResults: function (data) {
    	var dat = $.map(data.content, function(obj){
    		var user = {id:obj.id,text:obj.name};
    		return user;
    	});        
        return {results:dat};
      }    
  }
});
[/]

[# th:each="field,iter: ${@trackerService.field_list(tracker,'form',transition)}" th:if="${field.fieldType=='TrackerType'}"]
$('#val_[(${field.name})]').select2({
  ajax: {
	[# th:if="${datas?.get('id')!=null}"]
	url: /*[[@{/api/trackers/query_field/{field_id}/{data_id}(field_id=${field.id},data_id=${datas?.get('id')})}]]*/'/dummy/api/users',
	[/]
	[# th:if="${datas?.get('id')==null}"]
    url: /*[[@{/api/trackers/query_field/{field_id}(field_id=${field.id})}]]*/'/dummy/api/users',
    [/]
    dataType: 'json',
    processResults: function (data) {
    	var dat = $.map(data.content, function(obj){
    		var record = {id:obj.id,text:obj.name};
    		return record;
    	});        
        return {results:dat};
      }    
  }
});
[/]
	
[# th:each="field,iter: ${@trackerService.field_list(tracker,'form',transition)}" th:if="${field.fieldType=='TreeNode'}"]
$('#val_[(${field.name})]').select2({
  ajax: {
    url: /*[[@{/api/trees/nodequery}]]*/'/dummy/api/users',
    dataType: 'json',
    processResults: function (data) {
    	var dat = $.map(data.content, function(obj){
    		var node = {id:obj.id,text:obj.name};
    		return node;
    	});        
        return {results:dat};
      }    
  }
});
[/]
</script>

<div th:fragment="dataformfield(tracker,datas,field)" class="dataform form-group row">
	<div class='col-sm-3 col-form-label text-sm-right pr-0'>
		<label class='mb-0' th:text="${field.label}">Module</label>
	</div>
	<div class='col-sm-9' th:with="fieldclass=${'form-control col-sm-8 col-md-6 '}">
		<th:block th:if="${field.fieldWidget=='Default'}" th:with="normalfield = ${ {'TreeNode','Date','DateTime','TrackerType','User','Text','Checkbox'} }">
			
			<input th:if="${!#arrays.contains(normalfield, field.fieldType)}" th:class="${fieldclass + field.typeClass()}" type='text' th:id="${'val_' + field.name}" th:name="${'val_' + field.name}" th:value="${@trackerService.display(field,datas)}"/>
			
			<input th:if="${field.fieldType=='Checkbox'}" th:class="${fieldclass + field.typeClass()}" type='checkbox' th:id="${'val_' + field.name}" th:name="${'val_' + field.name}" th:checked="${@trackerService.display(field,datas)=='true'}"/>
			<input th:if="${field.fieldType=='Checkbox'}" type='hidden' th:id="${'_val_' + field.name}" th:name="${'_val_' + field.name}" value="off"/>
			
			<select th:if="${field.fieldType=='TreeNode' || field.fieldType=='TrackerType' || field.fieldType=='User'}" th:class="${fieldclass}" type='text' th:id="${'val_' + field.name}" th:name="${'val_' + field.name}">
				<option th:value="${datas?.get(field.name)?.toString()}" th:text="${@trackerService.display(field,datas)}">option</option>
			</select>
			
			<input th:if="${field.fieldType=='Date' || field.fieldType=='DateTime'}" th:class="${fieldclass + field.typeClass()}" type='text' th:id="${'val_' + field.name}" th:attr="data-target=${'#val_' + field.name}" data-toggle="datetimepicker" th:name="${'val_' + field.name}" th:value="${@trackerService.display(field,datas)}"/>
			<textarea th:if="${field.fieldType=='Text'}" th:class="${fieldclass + field.typeClass()}" th:id="${'val_' + field.name}" th:name="${'val_' + field.name}" th:text="${@trackerService.display(field,datas)}">
			</textarea>
		</th:block>
		
		<th:block th:if="${field.fieldWidget=='DropDown'}">
		<select th:class="${fieldclass}" type='text' th:id="${'val_' + field.name}" th:name="${'val_' + field.name}">
			<option th:each="val,iter: ${@trackerService.field_options(field)}" th:value="${val['val']}" th:text="${val['label']}" th:selected="${datas?.get(field.name)?.toString()==val['val']}">option</option>
		</select>
		</th:block>	
	</div>
</div>

<div th:fragment="datadisplay(tracker,datas)" class='datadisplay'>
<div th:each="field,iter: ${@trackerService.field_list(tracker,'display',null)}" class='columns'>
<div class='column is-one-quarter has-text-weight-bold' th:text="${field.label + ':'}">Form Fields:</div>
<div class='column' th:if="${field.FieldType!='HasMany'}" th:text="${@trackerService.display(field,datas)}" >data_table</div>
<div class='column' th:if="${field.FieldType=='HasMany'}" th:utext="${@trackerService.display(field,datas)}" >data_table</div>
</div>
</div>

<div th:fragment="trackertabs(current_active)" class="tabs-above">

<ul class="nav nav-tabs nav-justified" role="tablist">
<li class="nav-item mr-1px">
    <a th:classappend="${current_active=='details'}?'active'" th:href="@{/admin/trackers/display/{tracker_id}(tracker_id=${tracker.id})}" class="nav-link text-left radius-0"  >
        Details
    </a>
</li>
<li class="nav-item mr-1px">
    <a th:classappend="${current_active=='fields'}?'active'" th:href="@{/admin/trackers/fields/{tracker_id}(tracker_id=${tracker.id})}" class="nav-link text-left radius-0" >
        Fields
    </a>
</li>
<li class="nav-item mr-1px">
    <a th:classappend="${current_active=='roles'}?'active'" th:href="@{/admin/trackers/roles/{id}(id=${tracker.id})}" class="nav-link text-left radius-0" >
        Roles
    </a>
</li>
<li class="nav-item mr-1px">
    <a th:classappend="${current_active=='status'}?'active'" th:href="@{/admin/trackers/status/{id}(id=${tracker.id})}" class="nav-link text-left radius-0" >
        Status
    </a>
</li>
<li class="nav-item">
    <a th:classappend="${current_active=='transitions'}?'active'" th:href="@{/admin/trackers/transitions/{id}(id=${tracker.id})}" class="nav-link text-left radius-0" >
        Transitions
    </a>
</li>
</ul>
</div>

<div th:fragment="trackerfilter(tracker)" class="card acard mt-2 mt-lg-3" th:if="${(tracker.searchFields!=null and #strings.length(tracker.searchFields)>0) or (tracker.filterFields!=null and #strings.length(tracker.filterFields)>0)}">
 <div class="card-body px-3 pb-1">
  <form class="mt-lg-3">
  	<div th:each="field,iter: ${@trackerService.field_list(tracker,'filter',null)}" class="form-group row" th:if="${tracker.filterFields!=null and #strings.length(tracker.filterFields)>0}">
  		<div class="mb-1 mb-sm-0 col-sm-3 col-form-label text-sm-right pr-0">        	
  			<label><span th:text="${field.label}">Search</span>:</label>
  		</div>
  		<div class="col-sm-9 input-floating-label text-blue-d2 brc-blue-m1">
  			<select th:name="${'opt_' + field.name}" th:id="${'opt_' + field.name}" onchange="submit();">
  				<option th:each="option,optiter: ${@trackerService.filter_options(field)}" th:value="${option.get('val')}" th:text="${option.get('label')}" th:selected="${param.get('opt_' + field.name)?.toString()==option.get('val')?.toString()}" th:readonly="${param.get('opt_' + field.name)==option.get('val')}" >One</option>  				
  			</select>
  		</div>
  	</div>
  	<div class="form-group row" th:if="${tracker.searchFields!=null and #strings.length(tracker.searchFields)>0}">
  		<div class="mb-1 mb-sm-0 col-sm-3 col-form-label text-sm-right pr-0">        	
  			<label>Search:</label>
  		</div>
  		<div class="col-sm-9 input-floating-label text-blue-d2 brc-blue-m1">
  			<input type='text' name='q' th:value="${param.q}"/><button class="btn btn-primary m-1">Search</button>
  		</div>
  	</div>
  </form>
 </div>
</div>