<!DOCTYPE html>
<html layout:decorate="~{layout/main}">

<th:block layout:fragment="head-end">
<link th:if="${setting.type.equals('json')}" rel="stylesheet" th:href="@{/libs/jsoneditor/jsoneditor.min.css}" />
</th:block>

<section layout:fragment="content" class='page-content'>
    <div class='content'>
        <h1>Create Setting</h1>
        <form method='post' th:action='@{/admin/settings/save}' th:object="${setting}" id='settingsForm'>
            <input type='hidden' th:field='*{id}' />
            <input type='hidden' th:field='*{type}' />
            <div class='form-group row'>
                <div class='col-sm-3 col-form-label text-sm-right pr-0'>
                    <label class='mb-0'>Module</label></div>
                <div class='col-sm-9'>
                    <input class="form-control col-sm-8 col-md-6" type='text' th:field="*{module}" />
                </div>
            </div>
            <div class='form-group row'>
                <div class='col-sm-3 col-form-label text-sm-right pr-0'>
                    <label class='mb-0'>Name</label></div>
                <div class='col-sm-9'>
                    <input class="form-control col-sm-8 col-md-6" type='text' th:field="*{name}" />
                </div>
            </div>
            <div class='form-group row' th:if="${setting.type.equals('string')||setting.type.equals('Text')||setting.type.equals('Xml')||setting.type.equals('Hashmap')||setting.type.equals('Array') }">
                <div class='col-sm-3 col-form-label text-sm-right pr-0'>
                    <label class='mb-0'>Text</label></div>
                <div class='col-sm-9'>
                    <textarea class="form-control col-sm-8 col-md-6" th:field="*{textValue}"></textarea>
                </div>
            </div>
            <div class='form-group row' th:if="${setting.type.equals('json')}">
                <div class='col-sm-3 col-form-label text-sm-right pr-0'>
                    <label class='mb-0'>Text</label></div>
                <div class='col-sm-9'>
                	<input type='hidden' th:field="*{textValue}"/>
                    <div class="form-control col-sm-8 col-md-6" style="width: 400px; height: 400px;" id="jsonEditor"></div>
                </div>
            </div>
            <div class='form-group row' th:if="${setting.type.equals('number')}">
                <div class='col-sm-3 col-form-label text-sm-right pr-0'>
                    <label class='mb-0'>Number</label></div>
                <div class='col-sm-9'>
                    <input class="form-control col-sm-8 col-md-6" type='text' th:field="*{numberValue}" />
                </div>
            </div>
            <div class='form-group row' th:if="${setting.type.equals('date')}">
                <div class='col-sm-3 col-form-label text-sm-right pr-0'>
                    <label class='mb-0'>Date (format: dd/mm/yyyy)</label></div>
                <div class='col-sm-9'>
                    <input class="form-control col-sm-8 col-md-6" type='text' th:field="*{dateValue}" />
                </div>
            </div>

            <div class='form-group row'>
                <div class="offset-md-3 col-md-9">
                    <button class='btn btn-info' name='save'>Save</button>
                    <button class='btn btn-secondary' name='cancel'>Cancel</button>
                </div>
            </div>
        </form>
    </div>
</section>

</html>
<th:block layout:fragment="page-javascript">
<th:block th:if="${setting.type.equals('json')}">
<script type="text/javascript" th:src="@{/libs/jsoneditor/jsoneditor.min.js}"></script>
<script>
var container = document.getElementById('jsonEditor');
var options = {
		mode: 'tree'
};
var editor = new JSONEditor(container,options);
editor.set(JSON.parse($('#textValue').val()));
$('#settingsForm').on('submit',function(){
	$('#textValue').val(JSON.stringify(editor.get()));
});
</script>
</th:block>
</th:block>