<!DOCTYPE html>
<html layout:decorate="~{layout/main}">

<th:block layout:fragment="head-context">
<style>
@media only screen and (max-width: 760px),(min-device-width: 768px) and (max-device-width: 1024px)  {
	.responsive td:nth-of-type(1):before { content:'#'; }
	.responsive td:nth-of-type(2):before { content:'Module'; }
	.responsive td:nth-of-type(3):before { content:'Name'; }
	.responsive td:nth-of-type(4):before { content:'Value'; }	
}
</style>
</th:block>

<section layout:fragment="content" class='page-content'>
    <div class='content'>
        <h1>Setting Listing</h1>
        <a href="#" th:href="@{/admin/settings/create/string}" class="btn btn-primary">String</a>
        <a href="#" th:href="@{/admin/settings/create/date}" class="btn btn-primary">Date</a>
        <a href="#" th:href="@{/admin/settings/create/number}" class="btn btn-primary">Number</a>
        <a href="#" th:href="@{/admin/settings/create/json}" class="btn btn-primary">JSON</a>
        
        <div class="card-body px-3 pb-1">
		  <form class="mt-lg-3">
		  	<div class="form-group row">
		  		<div class="mb-1 mb-sm-0 col-sm-3 col-form-label text-sm-right pr-0">        	
		  			<label><span>Module</span>:</label>
		  		</div>
		  		<div class="col-sm-9 input-floating-label text-blue-d2 brc-blue-m1">
		  			<select name="module" id="module" onchange="submit();">
		  				<option>All</option>
		  				<option th:each="module:${@moduleService.list()}" th:value="${module.name}" th:text="${module.name}" th:selected="${param.module?.toString()==module.name}">All</option>  				
		  			</select>
		  		</div>
		  	</div>
		  	<div class="form-group row">
		  		<div class="mb-1 mb-sm-0 col-sm-3 col-form-label text-sm-right pr-0">        	
		  			<label>Search:</label>
		  		</div>
		  		<div class="col-sm-9 input-floating-label text-blue-d2 brc-blue-m1">
		  			<input type='text' name='q' th:value="${param.q}"/><button class="btn btn-primary m-1">Search</button>
		  		</div>
		  	</div>
		  </form>
		 </div>
        
        <table class="table responsive">
        	<thead>
            <tr>
                <th>#</th>
                <th>Module</th>
                <th>Name</th>
                <th>Value</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tr th:each="setting,iter: ${settings}">
                <td><a href='#' th:href='@{/admin/settings/edit/{id}(id=${setting.id})}' th:text="${iter.index + 1}">2</a>
                </td>
                <td th:text="${setting.module}">module</td>
                <td th:text="${setting.name}">title</td>
                <td th:text="${setting.getValue()}">val</td>
                <td>
                    <form method='post' th:action='@{/admin/settings/delete/{id}(id=${setting.id})}' th:object="${setting}">
                        <input type='submit' class='button danger'
                            th:onClick='return confirm("Confirm delete setting " + this.getAttribute("data-fname") + "?");'
                            th:attr="data-fname=${setting.name}" value='Delete' />
                    </form>
                </td>
            </tr>
        </table>
    </div>

    <nav th:replace="interface/pagination::navpagination(items=${settings},url='/admin/settings')"></nav>

</section>
</html>