<!DOCTYPE html>
<html layout:decorate="~{layout/formbase}">

<section layout:fragment="content" class='page-content'>
    <div class='content'>
        <h1>Status Tracker</h1>
        <form method='post' th:action='@{/trackers/status/{tracker_id}/save(tracker_id=${tracker.id})}'
            th:object="${tracker_status}" class="tagiform">
            <input type='hidden' name='id' th:value='${tracker_status.id}' />
            <input type='hidden' name='tracker_id' th:value='${tracker.id}' />
            <div class='form-group row'>
                <div class='col-sm-3 col-form-label text-sm-right pr-0'>
                    <label class='mb-0'>Name</label>
                </div>
                <div class='col-sm-9'>
                    <input class="form-control col-sm-8 col-md-6" type='text' name='name'
                        th:value="${tracker_status.name}" />
                </div>
            </div>
            <div class='form-group row'>
                <div class='col-sm-3 col-form-label text-sm-right pr-0'>
                    <label class='mb-0'>Display Fields</label>
                </div>
                <div class='col-sm-9'>
                    <textarea class='form-control col-sm-8 col-md-6 tagifinput' th:value="${tracker_status.displayFields}" name='displayFields' th:text="${tracker_status.displayFields}"  th:attr="data-tagify-whitelist=${tracker.fieldsList()}">
                    </textarea>
                </div>
            </div>
            <div class='form-group row'>
                <div class='col-sm-3 col-form-label text-sm-right pr-0'>
                    <label class='mb-0'>Updateable</label>
                </div>
                <div class='col-sm-9'>
                    <input class="form-control col-sm-8 col-md-6" type='checkbox' name='updateable'
                        th:value="${tracker_status.updateable}" />
                </div>
            </div>
            <div class='form-group row'>
                <div class='col-sm-3 col-form-label text-sm-right pr-0'>
                    <label class='mb-0'>Attachable</label>
                </div>
                <div class='col-sm-9'>
                    <input class="form-control col-sm-8 col-md-6" type='checkbox' name='attachable'
                        th:value="${tracker_status.attachable}" />
                </div>
            </div>

            <div class='form-group row'>
                <div class='offset-md-3 col-md-9'>
                    <button class='btn btn-info' name='save'>Save</button>
                    <button class='btn btn-secondary' name='cancel'>Cancel</button>
                </div>
            </div>
        </form>
    </div>
</section>

</html>