<!DOCTYPE html>
<html layout:decorate="~{treebase}">

<th:block layout:fragment="head-meta">
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</th:block>

<section layout:fragment="content" class='page-content'>

<div class="modal" id="exampleModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Node User</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
        <input type='hidden' name='user_node_id' id='user_node_id' th:value="${tree.root.id}"/>
        	<div class='form-group row'>
                <div class='col-sm-3 col-form-label text-sm-right pr-0'>
                    <label class='mb-0'>User</label>
                </div>
                <div class='col-sm-9 col-12 tag-input-style'>
                    <select class="form-control col-sm-8 col-md-6" type='text' id='user' name='user'>
                    	<option>Please select a user</option>
                    </select>
                </div>
            </div>
            <div class='form-group row'>
                <div class='col-sm-3 col-form-label text-sm-right pr-0'>
                    <label class='mb-0'>Role</label>
                </div>
                <div class='col-sm-9'>
                    <input class="form-control col-sm-8 col-md-6" type='text' name='role' id='role'/>
                </div>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id='save_user'>Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

	<div class="row" th:replace="~{tree/node/display::nodecard(${tree})}">
	</div>
	<br/>
	<div class="row">
		<div class="card border-0 col-12">
			<div class="card-header bgc-default-d2">
				<h3 th:text="${tree.name}" class="card-title text-130 text-white"></h3>
				<div class="card-toolbar">
				<a id="addnode" th:href="@{/trees/nodes/{parent_id}/create(parent_id=${tree.root.id})}" href="#" class="card-toolbar-btn text-white">				
				<i class="fa fa-plus"></i>
				</a>
				<a id="editnode" th:href="@{/trees/nodes/{curnodeid}/edit(curnodeid=${tree.root.id})}" href="#" class="card-toolbar-btn text-white">
				<i class="fa fa-edit"></i>
				</a>
				</div>
			</div>
			<div class="card-body bgc-white border-1 border-t-0 brc-default-m2">
				<div id="tree" name="tree"></div>
			</div>
		</div>
	</div>

</section>

<th:block layout:fragment="javascript">
	<script th:inline="javascript">
	$('#save_user').on('click',function(){
		var token = $("meta[name='_csrf']").attr("content");
		var header = $("meta[name='_csrf_header']").attr("content");
		console.log("nid:" + $('#user_node_id').val() + " uid:" + $('#user').val() + " role:" + $('#role').val());
		$.ajax({
			url : /*[[@{/api/trees/nodes/saveuser}]]*/'/dummy/api/users',
			method : "post",
			beforeSend: function(xhr) {
				xhr.setRequestHeader(header,token);
			},
			data : {
				node_id : $('#user_node_id').val(),
				user_id : $('#user').val(),
				role : $('#role').val()
			}
		});
	});
		$('#tree').fancytree({
			source : {
				url : /*[[@{/api/trees/{treeid}(treeid=${tree.id})}]]*/'/dummy/api/users',
			},
			activate : function(event,data) {
				$("#addnode").attr("href","/trees/nodes/" + data.node.key + "/create");
				$("#editnode").attr("href","/trees/nodes/" + data.node.key + "/edit");
				$("#nodetitle").text(data.node.title);
				$("#bodynodetitle").text(data.node.title);
				$('#user_node_id').val(data.node.key);
			},
			modifyChild: function(event,data) {
				console.log("node");
				console.log(data.node);
				console.log("childNode");
				console.log(data.childNode);
				console.log("operation");
				console.log(data.operation);
			},
			extensions: ["dnd5"],
			dnd5: {
				preventVoidModes: true,
				preventRecursion: true,
				dragStart: function(node, data) {
					data.effectAllowed = "all";
					data.dropEffect = data.dropEffectSuggested;
					return true;
				},
				dragEnter: function(node, data) {
					data.node.info("dragEnter", data);
					return true;
				},
				dragOver: function(node, data) {
					data.dropEffect = data.dropEffectSuggested;
					return true;
				},
				dragEnd: function(node, data) {
					data.node.info("dragEnd", data);
				},
				dragDrop: function(node, data) {
					var sourceNodes = data.otherNodeList,
						copyMode = data.dropEffect !== "move";
					
					if(data.hitMode === "after"){
						sourceNodes.reverse();
					}
					
					if( copyMode ) {
						$.each(sourceNodes, function(i, o){
							o.copyTo(node, data.hitMode, function(n){
								delete n.key;
								n.selected = false;
								n.title  = "Copy of " + n.title;
							});
						});
					} else {
						var token = $("meta[name='_csrf']").attr("content");
						var header = $("meta[name='_csrf_header']").attr("content");
						$.each(sourceNodes, function(i, o){
							o.moveTo(node, data.hitMode);
							$.ajax({
								url : /*[[@{/api/trees/nodes/move}]]*/'/dummy/api/users',
								method : "post",
								beforeSend: function(xhr) {
									xhr.setRequestHeader(header,token);
								},
								data : {
									parent_id : node.key,
									node_id : o.key,
									position : data.hitMode
								}
							});
							console.log("from:");
							console.log(node);
							console.log("to");
							console.log(o);
						});
					}
					node.setExpanded();
				}
				
			}
		});

$('#user').select2({
	  ajax: {
	    url: /*[[@{/api/users}]]*/'/dummy/api/users',
	    dataType: 'json',
	    processResults: function (data) {
	    	var dat = $.map(data.content, function(obj){
	    		var user = {id:obj.id,text:obj.name};
	    		return user;
	    	});
	        // Transforms the top-level key of the response object from 'items' to 'results'
	        return {results:dat};
	      }
	    // Additional AJAX parameters go here; see the end of this chapter for the full code of this example
	  }
	});
</script>
</th:block>
</html>