<!DOCTYPE html>
<html layout:decorate="~{treebase}">

<section layout:fragment="content" class='page-content'>

	<div class="row">
		<div class="card border-0 col-11">
			<div class="card-header bgc-default-d2">
				<h3 th:text="${tree.name}" class="card-title text-130 text-white"></h3>
			</div>
			<div class="card-body bgc-white border-1 border-t-0 brc-default-m2">
				<div id="tree" name="tree"></div>
			</div>
		</div>
	</div>

</section>

<th:block layout:fragment="javascript">
	<script th:inline="javascript">
		$('#tree').fancytree({
			source : {
				url : /*[[@{/api/trees/{treeid}(treeid=${tree.id})}]]*/'/dummy/api/users',
			}
		});
	</script>
</th:block>
</html>