<!DOCTYPE html>
<html layout:decorate="~{treebase}">

<th:block layout:fragment="head-meta">
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</th:block>

<section layout:fragment="content" class='page-content'>

<div class="modal" id="exampleModal" tabindex="-1" role="dialog" th:replace="~{tree/node/user_dialog::dialog(${tree},${curnode})}">
</div>

	<div class="row" th:replace="~{tree/node/display::nodecard(${tree},${curnode})}">
	</div>
	<br/>
	<div class="row">
		<div class="card border-0 col-12">
			<div class="card-header bgc-default-d2">
				<h3 th:text="${tree.name}" class="card-title text-130 text-white"></h3>
				<div class="card-toolbar">
				<a id="addnode" th:href="@{/trees/nodes/{parent_id}/create(parent_id=${curnode.id})}" href="#" class="card-toolbar-btn text-white">				
				<i class="fa fa-plus"></i>
				</a>
				<a id="editnode" th:href="@{/trees/nodes/{curnodeid}/edit(curnodeid=${curnode.id})}" href="#" class="card-toolbar-btn text-white">
				<i class="fa fa-edit"></i>
				</a>
				</div>
			</div>
			<div class="card-body bgc-white border-1 border-t-0 brc-default-m2">
				<div id="tree" name="tree"></div>
			</div>
		</div>
	</div>

</section>

<th:block layout:fragment="javascript">
	<script th:inline="javascript">
	
	function updateNode(node) {
		$('#bodynodetitle').text(node.name);
		var users = $('<ul></ul>');
		$('#bodynodeusers').html("")
		node.users.forEach(function(item,index){
			users.append($('<li></li>').text(item.user.name + " : " + item.role));			
		});
		$('#bodynodeusers').append(users);
	}
	
	$('#save_user').on('click',function(){
		if($('#role').val().length>0){
			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");
			$.ajax({
				url : /*[[@{/api/trees/nodes/saveuser}]]*/'/dummy/api/users',
				method : "post",
				beforeSend: function(xhr) {
					xhr.setRequestHeader(header,token);
				},
				data : {
					node_id : $('#user_node_id').val(),
					user_id : $('#user').val(),
					role : $('#role').val()
				}
			}).done(function(data){
				updateNode(data);
				$('#user').val("Please select a user");
				$('#role').val("");
				$('#user_dialog').modal('hide');
			});
		}
		else{
			alert('Please specify the role for the user');
		};
	});
		$('#tree').fancytree({
			source : {
				url : /*[[@{/api/trees/{treeid}(treeid=${tree.id})}]]*/'/dummy/api/users',
			},
			activate : function(event,data) {
				$("#addnode").attr("href","/trees/nodes/" + data.node.key + "/create");
				$("#editnode").attr("href","/trees/nodes/" + data.node.key + "/edit");
				$("#nodetitle").text(data.node.title);
				$("#bodynodetitle").text(data.node.title);
				$('#user_node_id').val(data.node.key);
				$.ajax({
					/*[+
					url : [[@{/api/trees/node}]] + '/' + data.node.key
					+]*/
				}).done(function(data){
					updateNode(data);
				});
			},
			extensions: ["dnd5"],
			dnd5: {
				preventVoidModes: true,
				preventRecursion: true,
				dragStart: function(node, data) {
					data.effectAllowed = "all";
					data.dropEffect = data.dropEffectSuggested;
					return true;
				},
				dragEnter: function(node, data) {
					data.node.info("dragEnter", data);
					return true;
				},
				dragOver: function(node, data) {
					data.dropEffect = data.dropEffectSuggested;
					return true;
				},
				dragEnd: function(node, data) {
					data.node.info("dragEnd", data);
				},
				dragDrop: function(node, data) {
					var sourceNodes = data.otherNodeList,
						copyMode = data.dropEffect !== "move";
					
					if(data.hitMode === "after"){
						sourceNodes.reverse();
					}
					
					if( copyMode ) {
						$.each(sourceNodes, function(i, o){
							o.copyTo(node, data.hitMode, function(n){
								delete n.key;
								n.selected = false;
								n.title  = "Copy of " + n.title;
							});
						});
					} else {
						var token = $("meta[name='_csrf']").attr("content");
						var header = $("meta[name='_csrf_header']").attr("content");
						$.each(sourceNodes, function(i, o){
							o.moveTo(node, data.hitMode);
							$.ajax({
								url : /*[[@{/api/trees/nodes/move}]]*/'/dummy/api/users',
								method : "post",
								beforeSend: function(xhr) {
									xhr.setRequestHeader(header,token);
								},
								data : {
									parent_id : node.key,
									node_id : o.key,
									position : data.hitMode
								}
							});
						});
					}
					node.setExpanded();
				}
				
			}
		});

$('#user').select2({
	  ajax: {
	    url: /*[[@{/api/users}]]*/'/dummy/api/users',
	    dataType: 'json',
	    processResults: function (data) {
	    	var dat = $.map(data.content, function(obj){
	    		var user = {id:obj.id,text:obj.name};
	    		return user;
	    	});
	        // Transforms the top-level key of the response object from 'items' to 'results'
	        return {results:dat};
	      }
	    // Additional AJAX parameters go here; see the end of this chapter for the full code of this example
	  }
	});
</script>
</th:block>
</html>