<!DOCTYPE html>
<html layout:decorate="~{layout/main}">

<section layout:fragment="content" class='user-content'>	

	<h1>User Details</h1>
	
	<div class="form-row">
	<a href="#" th:href="@{/admin/users/edit/{id}(id=${user.id})}" class="btn btn-primary m-1">Edit</a>
	<form class="form-inline" th:action="@{/impersonate}" method="POST"><input type='hidden' name='username' th:value="${user.username}"/><button class="btn btn-primary m-1">Switch Form</button></form>
	</div>

	<table class="table table-user-information">
		<tbody>
			<tr>
				<th>Name:</th>
				<td th:text="${user.name}">Name:</td>
			</tr>
			<tr th:if="${@environment.getProperty('jpf.enable_username')}">
				<th>Username:</th>
				<td th:text="${user.username}">Name:</td>
			</tr>
			<tr>
				<th>Staff Id:</th>
				<td th:text="${user.staffid}">Name:</td>
			</tr>
			<tr>
				<th>Email:</th>
				<td th:text="${user.email}">Name:</td>
			</tr>
		</tbody>
	</table>

</section>

</html>