<!DOCTYPE html>
<html layout:decorate="~{layout/main}">

<section layout:fragment="content" class='user-content'>
	<div class='content'>
		<h1 th:text="${pageTitle}">Tree Listing</h1>
		<a href="#" th:href="@{/admin/users/create}" class="btn btn-primary">Add</a>
		<table class="table">
			<tr>
				<th>#</th>
				<th>Username</th>
				<th>Staff Id</th>
				<th>Name</th>
				<th>Email</th>
				<th>&nbsp;</th>
			</tr>
			<tr th:each="user,iter: ${users}">
				<td><a href='#'
					th:href='@{/admin/users/edit/{id}(id=${user.id})}'
					th:text="${iter.index + 1}">2</a></td>
				<td th:text="${user.username}">module</td>
				<td th:text="${user.staffid}">module</td>
				<td th:text="${user.name}">module</td>
				<td th:text="${user.email}">module</td>
				<td>
					<form method='post'
						th:action='@{/admin/users/delete/{id}(id=${user.id})}'
						th:object="${user}">
						<input type='submit' class='button danger'
							th:onClick='return confirm("Confirm delete tree " + this.getAttribute("data-fname") + "?");'
							th:attr="data-fname=${user.name}" value='Delete' />
					</form>
			</tr>
		</table>
	</div>

	<nav th:replace="interface/pagination::navpagination(items=${users},url='/admin/users')"></nav>

</section>
</html>