<!DOCTYPE html>
<html layout:decorate="~{layout/main}">

<section layout:fragment="content" class='user-content'>

<div class="container">

	<h1>User Profile</h1>
	
	<a href="#" th:href="@{/update_password}" class="btn btn-primary">Update Password</a>

	<table class="table table-user-information">
		<tbody>
			<tr>
				<th>Name:</th>
				<td th:text="${user.name}">Name:</td>
			</tr>
			<tr th:if="${@environment.getProperty('jpf.enable_username')}">
				<th>Username:</th>
				<td th:text="${user.username}">Name:</td>
			</tr>
			<tr>
				<th>Staff Id:</th>
				<td th:text="${user.staffid}">Name:</td>
			</tr>
			<tr>
				<th>Email:</th>
				<td th:text="${user.email}">Name:</td>
			</tr>
		</tbody>
	</table>
   
</div>

</section>

</html>