<!DOCTYPE html>
<html layout:decorate="~{layout/main}">
<section layout:fragment="content" class='user-content'>
<div class='content row'>
	<h1>
		Change Password
	</h1>

	<form class="col-12 mt-lg-4 px-0" method='post'
		th:action='@{/update_password}' th:object="${updatePasswordForm}">

		<div class="form-group row">
			<div class='col-sm-5 col-form-label text-sm-right pr-0'>
				<label class='mb-0'>Password</label>
			</div>
			<div class='col-sm-7'>
				<input class="form-control col-sm-8 col-md-6" type='password'
					th:field='*{password}' />
				<span class="alert alert-danger fade show" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Name Error</span>
			</div>
		</div>

		<div class="form-group row">
			<div class='col-sm-5 col-form-label text-sm-right pr-0'>
				<label class='mb-0'>Confirm Password</label>
			</div>
			<div class='col-sm-7'>
				<input class="form-control col-sm-8 col-md-6" type='password'
					th:field='*{repeatPassword}' />
				<span class="alert alert-danger fade show" th:if="${#fields.hasErrors('repeatPassword')}" th:errors="*{repeatPassword}">Name Error</span>
			</div>
		</div>

		<div class='form-group row'>
			<div class="offset-md-5 col-md-9">
				<button class='btn btn-info' name='update'>Update</button>
			</div>
		</div>
	</form>		
</div>
</section>

<th:block layout:fragment="page-javascript">
<script>
$('#password').focus();
setTimeout(function(){ $('.alert').alert('close'); }, 5000);
</script>
</th:block>

</html>