<!DOCTYPE html>
<html layout:decorate="~{formbase}">

<section layout:fragment="content" class='page-content'>
    <div class='content'>
        <h1>Create Page</h1>
        <form method='post' th:action='@{/p/{fullpath}/save(fullpath=${pnode.rootLessPath()})}' th:object="${page}">
            <input type='hidden' th:field='*{id}' />
            <input type='hidden' name='objectType' value='Page'/>

            <div class='form-group row'>
                <div class='col-sm-3 col-form-label text-sm-right pr-0'>
                    <label class='mb-0'>Title</label></div>
                <div class='col-sm-9'>
                    <input class="form-control col-sm-8 col-md-6" type='text' th:field="*{title}" />
                </div>
            </div>
            <div class='form-group row'>
                <div class='col-sm-3 col-form-label text-sm-right pr-0'>
                    <label class='mb-0'>Content</label></div>
                <div class='col-sm-9'>
                    <textarea class='textarea summernote' th:field="*{content}">
                    </textarea>
                </div>
            </div>
            <div class='form-group row'>
                <div class="offset-md-3 col-md-9">
                    <button class='btn btn-info' name='save'>Save</button>
                    <button class='btn btn-secondary' name='cancel'>Cancel</button>
                </div>
            </div>
        </form>
    </div>
</section>

</html>

<th:block layout:fragment="page-javascript">
<script th:inline="javascript">
$(document).ready(function(){
	$('.summernote').summernote({
        height: "500px",
        callbacks: {
            onImageUpload: function(files) {
              // upload image to server and create imgNode...
              sendFile(files[0],$(this));
            }
        }
    });
});
function sendFile(file,editor) {
    data = new FormData();
    data.append("file", file);
    var token = $("meta[name='_csrf']").attr("content");
	var header = $("meta[name='_csrf_header']").attr("content");
    $.ajax({
        data: data,
        beforeSend: function(xhr) {
			xhr.setRequestHeader(header,token);
		},
        url: /*[[@{/p/{fullpath}/saveimage(fullpath=${pnode.rootLessPath()})}]]*/'/dummy/api/users',
        cache: false,
        contentType: false,
        processData: false,
        method: "POST",
        success: function(url) {
        	console.log(url);
            editor.summernote('insertImage',url);
        }
    });
}
</script>
</th:block>