<!DOCTYPE html>
<html layout:decorate="~{layout/formbase}">

<section layout:fragment="content" class='page-content'>
    <div class='content'>
        <h1>Transition Tracker</h1>
        <form method='post' th:action='@{/admin/trackers/transitions/{tracker_id}/save(tracker_id=${tracker.id})}'
            th:object="${tracker_transition}" class="tagiform">
            <input type='hidden' th:field="*{id}" />
            <input type='hidden' th:name="tracker_id" th:value="${tracker.id}" />

            <div class='form-group row'>
                <div class='col-sm-3 col-form-label text-sm-right pr-0'>
                    <label class='mb-0'>Name</label></div>
                <div class='col-sm-9'>
                    <input class="form-control col-sm-8 col-md-6" type='text' th:field="*{name}" />
                </div>
            </div>

            <div class='form-group row'>
                <div class='col-sm-3 col-form-label text-sm-right pr-0'>
                    <label class='mb-0'>Prev Status</label></div>
                <div class='col-sm-9'>
                    <input class="form-control col-sm-8 col-md-6 tokeninput statusselection" type='text' th:field="*{prevStatus}" />
                </div>
            </div>

            <div class='form-group row'>
                <div class='col-sm-3 col-form-label text-sm-right pr-0'>
                    <label class='mb-0'>Next Status</label></div>
                <div class='col-sm-9'>
                    <input class="form-control col-sm-8 col-md-6 tokeninput statusselection" data-tokenlimit='1' type='text' th:field="*{nextStatus}" />
                </div>
            </div>

            <div class='form-group row'>
                <div class='col-sm-3 col-form-label text-sm-right pr-0'>
                    <label class='mb-0'>Allowed Roles</label></div>
                <div class='col-sm-9'>
                    <input class="form-control col-sm-8 col-md-6 tokeninput roleselection" type='text' th:field="*{allowedRoles}" />
                </div>
            </div>

            <div class='form-group row'>
                <div class='col-sm-3 col-form-label text-sm-right pr-0'>
                    <label class='mb-0'>Display Fields</label></div>
                <div class='col-sm-9'>
                    <textarea class='form-control col-sm-8 col-md-6 tokeninput fieldselection' th:field="*{displayFields}"></textarea>
                </div>
            </div>

            <div class='form-group row'>
                <div class='col-sm-3 col-form-label text-sm-right pr-0'>
                    <label class='mb-0'>Edit Fields</label></div>
                <div class='col-sm-9'>
                    <textarea class='form-control col-sm-8 col-md-6 tokeninput fieldselection' th:field="*{editFields}"></textarea>
                </div>
            </div>

            <div class='form-group row'>
                <div class='col-sm-3 col-form-label text-sm-right pr-0'>
                    <label class='mb-0'>Required Fields</label></div>
                <div class='col-sm-9'>
                    <textarea class='form-control col-sm-8 col-md-6 tokeninput fieldselection' th:field="*{requiredFields}"></textarea>
                </div>
            </div>

            <div class='form-group row'>
                <div class='col-sm-3 col-form-label text-sm-right pr-0'>
                    <label class='mb-0'>Enabled Condition</label></div>
                <div class='col-sm-9'>
                    <textarea class='input' th:field="*{enabledCondition}">

                    </textarea>
                </div>
            </div>

            <div class='form-group row'>
                <div class='col-sm-3 col-form-label text-sm-right pr-0'>
                    <label class='mb-0'>Update Trails</label></div>
                <div class='col-sm-9'>
                    <textarea class='input' th:field="*{updateTrails}">
                    </textarea>

                </div>
            </div>

            <div class='form-group row'>
                <div class='col-sm-3 col-form-label text-sm-right pr-0'>
                    <label class='mb-0'>Goto Prev Status List</label></div>
                <div class='col-sm-9'>
                    <input class="form-control col-sm-8 col-md-6" type='checkbox' th:field="*{gotoPrevStatusList}" />
                </div>
            </div>

            <div class='form-group row'>
                <div class='offset-md-3 col-md-9'>
                    <button class='btn btn-info' name='save'>Save</button>
                    <button class='btn btn-secondary' name='cancel'>Cancel</button>
                </div>
            </div>
        </form>
    </div>
</section>
<th:block layout:fragment="page-javascript">
<script>
function splitval(val) {
	console.log(val);
	var tokens = val.split(",");
	var toreturn = [];
	tokens.forEach(function(entry){
		var currow = {id:entry,name:entry};
		toreturn.push(currow);
	});
	return toreturn;
};

function tokenselection(item,url) {
	var curval = item.val();
	if(curval.length>0){
		var pp = splitval(curval);	
	}
	else{
		var pp = null;
	}
	console.log('tl:' + item.data('tokenlimit'));
	item.tokenInput(
			url,
			{
				prePopulate: pp,
				preventDuplicates: true,
				tokenLimit: item.data('tokenlimit')
			}
	);
}

$(".fieldselection").each(function(){
	tokenselection($(this),"[[@{/api/trackers/{tracker_id}/fields(tracker_id=${tracker.id})}]]");	
});

$(".roleselection").each(function(){
	tokenselection($(this),"[[@{/api/trackers/{tracker_id}/roles(tracker_id=${tracker.id})}]]");
});

$(".statusselection").each(function(){
	tokenselection($(this),"[[@{/api/trackers/{tracker_id}/status(tracker_id=${tracker.id})}]]");
});
</script>
</th:block>
</html>