<!DOCTYPE html>
<html layout:decorate="~{formbase}">

<section layout:fragment="content" class='page-content'>
    <div class='content'>
        <h1>Transition Tracker</h1>
        <form method='post' th:action='@{/trackers/transitions/{tracker_id}/save(tracker_id=${tracker.id})}'
            th:object="${tracker_transition}" class="tagiform">
            <input type='hidden' name='id' th:value='${tracker_transition.id}' />
            <input type='hidden' name='tracker_id' th:value='${tracker.id}' />

            <div class='form-group row'>
                <div class='col-sm-3 col-form-label text-sm-right pr-0'>
                    <label class='mb-0'>Name</label></div>
                <div class='col-sm-9'>
                    <input class="form-control col-sm-8 col-md-6" type='text' name='name'
                        th:value="${tracker_transition.name}" />
                </div>
            </div>

            <div class='form-group row'>
                <div class='col-sm-3 col-form-label text-sm-right pr-0'>
                    <label class='mb-0'>Prev Status</label></div>
                <div class='col-sm-9'>
                    <input class="form-control col-sm-8 col-md-6" type='text' name='prevStatus'
                        th:value="${tracker_transition.prevStatus}" />
                </div>
            </div>

            <div class='form-group row'>
                <div class='col-sm-3 col-form-label text-sm-right pr-0'>
                    <label class='mb-0'>Next Status</label></div>
                <div class='col-sm-9'>
                    <input class="form-control col-sm-8 col-md-6" type='text' name='nextStatus'
                        th:value="${tracker_transition.nextStatus}" />
                </div>
            </div>

            <div class='form-group row'>
                <div class='col-sm-3 col-form-label text-sm-right pr-0'>
                    <label class='mb-0'>Allowed Roles</label></div>
                <div class='col-sm-9'>
                    <input class="form-control col-sm-8 col-md-6" type='text' name='allowedRoles'
                        th:value="${tracker_transition.allowedRoles}" />
                </div>
            </div>

            <div class='form-group row'>
                <div class='col-sm-3 col-form-label text-sm-right pr-0'>
                    <label class='mb-0'>Display Fields</label></div>
                <div class='col-sm-9'>
                    <textarea th:value="${tracker_transition.displayFields}" th:attr="data-tagify-whitelist=${tracker.fieldsList()}" class='form-control col-sm-8 col-md-6 tagifinput' name='displayFields' th:text="${tracker_transition.displayFields}">

                    </textarea>
                </div>
            </div>

            <div class='form-group row'>
                <div class='col-sm-3 col-form-label text-sm-right pr-0'>
                    <label class='mb-0'>Edit Fields</label></div>
                <div class='col-sm-9'>
                    <textarea th:value="${tracker_transition.editFields}" th:attr="data-tagify-whitelist=${tracker.fieldsList()}" class='form-control col-sm-8 col-md-6 tagifinput' name='editFields' th:text="${tracker_transition.editFields}">
                    </textarea>
                </div>
            </div>

            <div class='form-group row'>
                <div class='col-sm-3 col-form-label text-sm-right pr-0'>
                    <label class='mb-0'>Required Fields</label></div>
                <div class='col-sm-9'>
                    <textarea th:value="${tracker_transition.requiredFields}" th:attr="data-tagify-whitelist=${tracker.fieldsList()}" class='form-control col-sm-8 col-md-6 tagifinput' name='requiredFields' th:text="${tracker_transition.requiredFields}">
                    </textarea>
                </div>
            </div>

            <div class='form-group row'>
                <div class='col-sm-3 col-form-label text-sm-right pr-0'>
                    <label class='mb-0'>Enabled Condition</label></div>
                <div class='col-sm-9'>
                    <textarea class='input' name='enabledCondition' th:text="${tracker_transition.enabledCondition}">

                    </textarea>
                </div>
            </div>

            <div class='form-group row'>
                <div class='col-sm-3 col-form-label text-sm-right pr-0'>
                    <label class='mb-0'>Update Trails</label></div>
                <div class='col-sm-9'>
                    <textarea class='input' name='updateTrails' th:text="${tracker_transition.updateTrails}">
                    </textarea>

                </div>
            </div>

            <div class='form-group row'>
                <div class='col-sm-3 col-form-label text-sm-right pr-0'>
                    <label class='mb-0'>Goto Prev Status List</label></div>
                <div class='col-sm-9'>
                    <input class="form-control col-sm-8 col-md-6" type='checkbox' name='gotoPrevStatusList'
                        th:value="${tracker_transition.gotoPrevStatusList}" />
                </div>
            </div>

            <div class='form-group row'>
                <div class='col-sm-3 col-form-label text-sm-right pr-0'>
                    <button class='button' name='save'>Save</button>
                    <button class='button' name='cancel'>Cancel</button>
                </div>
        </form>
    </div>
</section>

</html>