<!DOCTYPE html>
<html layout:decorate="~{layout/main}">

<section layout:fragment="content" class='page-content'>
    <div class='content'>
        <h1 th:text="${pageTitle}">Create Page</h1>
        <form method='post' th:action='@{/pages/save}' th:object="${page}">
            <input type='hidden' th:field='*{id}' />

            <div class='form-group row'>
                <div class='col-sm-3 col-form-label text-sm-right pr-0'>
                    <label class='mb-0'>Module</label></div>
                <div class='col-sm-9'>
                    <input class="form-control col-sm-8 col-md-6" type='text' th:field="*{module}" />
                </div>
            </div>

            <div class='form-group row'>
                <div class='col-sm-3 col-form-label text-sm-right pr-0'>
                    <label class='mb-0'>Slug</label></div>
                <div class='col-sm-9'>
                    <input class="form-control col-sm-8 col-md-6" type='text' th:field="*{slug}" />
                </div>
            </div>
            
            <div class='form-group row'>
                <div class='col-sm-3 col-form-label text-sm-right pr-0'>
                    <label class='mb-0'>Runable</label></div>
                <div class='col-sm-9'>
                    <input class="form-control col-sm-8 col-md-6" type='checkbox' th:field="*{runable}" />
                </div>
            </div>

            <div class='form-group row'>
                <div class='col-sm-3 col-form-label text-sm-right pr-0'>
                    <label class='mb-0'>Title</label></div>
                <div class='col-sm-9'>
                    <input class="form-control col-sm-8 col-md-6" type='text' th:field="*{title}" />
                </div>
            </div>
            
            <div class='form-group row'>
                <div class='col-sm-3 col-form-label text-sm-right pr-0'>
                    <label class='mb-0'>Layout</label></div>
                <div class='col-sm-9'>
                    <select th:field="*{layout}">
                    <option value="layout/main">Main</option>
                    <option value="layout/special">Special</option>
                    <option value="layout/formbase">Form</option>
                    </select>
                </div>
            </div>
            
            <div class='form-group row'>
                <div class='col-sm-3 col-form-label text-sm-right pr-0'>
                    <label class='mb-0'>Content</label></div>
                <div class='col-sm-9'>
                    <textarea class='textarea col-12' th:field="*{content}" rows="30">
                    </textarea>
                </div>
            </div>
            <div class='form-group row'>
                <div class="offset-md-3 col-md-9">
                    <button class='btn btn-info' name='save'>Save</button>
                    <button class='btn btn-secondary' name='cancel'>Cancel</button>
                </div>
            </div>
        </form>
    </div>
</section>

</html>