<!DOCTYPE html>
<html layout:decorate="~{layout/main}">

<th:block layout:fragment="head-end">
<style type="text/css" media="screen">
form .ace_editor {
        position: relative !important;
        border: 1px solid lightgray;
        margin: auto;
        height: 50em;
        width: 100%;
    }

   form .ace_editor.fullScreen {
        height: auto;
        width: auto;
        border: 0;
        margin: 0;
        position: fixed !important;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 100000;
    }
    
    .scrollmargin {
        height: 500px;
        text-align: center;
    }
    
    body.fullScreen {
        overflow: hidden;
        /*transform breaks position fixed*/
        transform: none!important;
    }
    
    body {
        transform: translateZ(0);
    }
</style>
</th:block>

<section layout:fragment="content" class='page-content'>
    <div class='content'>
        <h1 th:text="${pageTitle}">Create Page</h1>
        <form method='post' id='pageform' th:action='@{/admin/pages/save}' th:object="${page}">
            <input type='hidden' th:field='*{id}' />

            <div class='form-group row'>
                <div class='col-sm-3 col-form-label text-sm-right pr-0'>
                    <label class='mb-0'>Module</label></div>
                <div class='col-sm-9'>
                    <input class="form-control col-sm-8 col-md-6" type='text' th:field="*{module}" />
                </div>
            </div>

            <div class='form-group row'>
                <div class='col-sm-3 col-form-label text-sm-right pr-0'>
                    <label class='mb-0'>Slug</label></div>
                <div class='col-sm-9'>
                    <input class="form-control col-sm-8 col-md-6" type='text' th:field="*{slug}" />
                </div>
            </div>
            
            <div class='form-group row'>
                <div class='col-sm-3 col-form-label text-sm-right pr-0'>
                    <label class='mb-0'>Page Type</label></div>
                <div class='col-sm-9'>
                    <select class="form-control col-sm-8 col-md-6" th:field="*{page_type}">
                    	<option value='template'>Template</option>
                    	<option value='json'>JSON</option>
                    	<option value='api'>API</option>
                    	<option value='redirect'>Redirect</option>
                    </select>
                </div>
            </div>
            
            <div class='form-group row'>
                <div class='col-sm-3 col-form-label text-sm-right pr-0'>
                    <label class='mb-0' for="published1">Published</label></div>
                <div class='col-sm-9'>
                    <input class="form-control col-sm-8 col-md-6" type='checkbox' th:field="*{published}" />
                </div>
            </div>
            
            <div class='form-group row'>
                <div class='col-sm-3 col-form-label text-sm-right pr-0'>
                    <label class='mb-0' for="requireLogin1">Require Login</label></div>
                <div class='col-sm-9'>
                    <input class="form-control col-sm-8 col-md-6" type='checkbox' th:field="*{requireLogin}" />
                </div>
            </div>
            
            <div class='form-group row'>
                <div class='col-sm-3 col-form-label text-sm-right pr-0'>
                    <label class='mb-0'>Allowed Roles</label></div>
                <div class='col-sm-9'>
                    <input class="form-control col-sm-8 col-md-6" type='text' th:field="*{allowedRoles}" />
                </div>
            </div>
            
            <div class='form-group row'>
                <div class='col-sm-3 col-form-label text-sm-right pr-0'>
                    <label class='mb-0' for="runable1">Runable</label></div>
                <div class='col-sm-9'>
                    <input class="form-control col-sm-8 col-md-6" type='checkbox' th:field="*{runable}" />
                </div>
            </div>

            <div class='form-group row'>
                <div class='col-sm-3 col-form-label text-sm-right pr-0'>
                    <label class='mb-0'>Title</label></div>
                <div class='col-sm-9'>
                    <input class="form-control col-sm-8 col-md-6" type='text' th:field="*{title}" />
                </div>
            </div>
            
            <div class='form-group row'>
                <div class='col-sm-3 col-form-label text-sm-right pr-0'>
                    <label class='mb-0'>Content</label></div>
                <div id="contenteditordiv" class='col-sm-9' style="min-height: 30em;">
                	<input type='hidden' th:field="*{content}"/>
                    <textarea class='textarea col-12' rows="30" id='contenteditor' th:text="${page.content}">
                    </textarea>
                </div>
            </div>
            
            <div class='form-group row'>
                <div class='col-sm-3 col-form-label text-sm-right pr-0'>
                    <label class='mb-0'>Page Data</label></div>
                <div id="dataeditordiv" class='col-sm-9' style="min-height: 30em;">
                	<input type='hidden' th:field="*{pageData}"/>
                    <textarea class='textarea col-12' rows="30" id='dataeditor' th:text="${page.pageData}">
                    </textarea>
                </div>
            </div>
            
            <div class='form-group row'>
                <div class="offset-md-3 col-md-9">
                    <button class='btn btn-info' name='save'>Save</button>
                    <button class='btn btn-info' name='update'>Update</button>
                    <button class='btn btn-secondary' name='cancel'>Cancel</button>
                </div>
            </div>
        </form>
    </div>
    
    <div>
    <h2>Templates To Copy</h2>
    &lt;!DOCTYPE html&gt;<br/>
	&lt;html layout:decorate="~{layout/main}"&gt;<br/>
	&lt;section layout:fragment="content" class='page-content'&gt;<br/>
	&lt;/section&gt;<br/>
	&lt;th:block layout:fragment="head-end"&gt;&lt;/th:block&gt;<br/>
	&lt;th:block layout:fragment="javascript"&gt;&lt;/th:block&gt;<br/>
	&lt;/html&gt;
    </div>
</section>
<th:block layout:fragment="page-javascript">
<script th:src="@{/libs/ace-editor/require.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{/libs/ace-editor/ace.js}" type="text/javascript" charset="utf-8"></script>
<script th:inline="javascript">


    var editor = ace.edit("contenteditor");
    editor.setTheme("ace/theme/chrome");
  	
  	editor.commands.addCommand({
	  name: "Toggle Fullscreen",
  	  bindKey: "F11",
  	  exec: function(editor) {
  		  $('body').toggleClass('fullScreen');
  		  $('#contenteditordiv .ace_editor').toggleClass('fullScreen');
  		  var fullScreen = $('body').is('.fullScreen');
        	editor.setAutoScrollEditorIntoView(true);
        	editor.resize();
  	  }
  	});
    
    [# th:if="${page.runable==true}"]
    	editor.session.setMode("ace/mode/groovy");
    [/]
   	[# th:if="${page.runable!=true}"]
   		editor.session.setMode("ace/mode/html");
	[/]
    
	$('input[name="runable"]').on('change',function(){		
		if($('input[name="runable"]').prop("checked")){
			console.log("changing to groovy");
			editor.session.setMode("ace/mode/groovy");
		}
		else{
			console.log("changing to html");
			editor.session.setMode("ace/mode/html");
		}
	});
	
	var dataeditor = ace.edit("dataeditor");
    dataeditor.setTheme("ace/theme/chrome");
    dataeditor.session.setMode("ace/mode/groovy");
    
    dataeditor.commands.addCommand({
  	  name: "Toggle Fullscreen",
    	  bindKey: "F11",
    	  exec: function(dataeditor) {
    		  $('body').toggleClass('fullScreen');
    		  $('#dataeditordiv .ace_editor').toggleClass('fullScreen');
    		  var fullScreen = $('body').is('.fullScreen');
          	dataeditor.setAutoScrollEditorIntoView(true);
          	dataeditor.resize();
    	  }
    	});

    $('#pageform').on('submit',function(){    	
		$('#content').val(editor.getValue());
		$('#pageData').val(dataeditor.getValue());
	});
</script>
</th:block>

</html>