<!DOCTYPE html>
<html layout:decorate="~{layout}">

<section layout:fragment="content" class='page-content'>
	<div class='content'>
		<h1>Page Listing</h1>
		<a href="#" th:href="@{/pages/create}" class="btn btn-primary">Add</a>
		<table class="table">
			<tr>
				<th>#</th>
				<th>Module</th>
				<th>Slug</th>
				<th>Title</th>
				<th>Published</th>
				<th>Date Created</th>
				<th>Last Updated</th>
				<th>&nbsp;</th>
			</tr>
			<tr th:each="portalpage,iter: ${pages}">
				<td><a href='#'
					th:href='@{/pages/edit/{id}(id=${portalpage.id})}'
					th:text="${iter.index + 1}">2</a></td>
				<td th:text="${portalpage.module}">module</td>
				<td><a href='#'
					th:href='@{/pages/display/{id}(id=${portalpage.id})}'
					th:text="${portalpage.slug}">slug</td>
				<td th:text="${portalpage.title}">title</td>
				<td>published</td>
				<td>created</td>
				<td>updated</td>
				<td>
					<form method='post'
						th:action='@{/pages/delete/{id}(id=${portalpage.id})}'
						th:object="${portalpage}">
						<input type='submit' class='button danger'
							th:onClick='return confirm("Confirm delete page " + this.getAttribute("data-fname") + "?");'
							th:attr="data-fname=${portalpage.title}" value='Delete' />
					</form>
				</td>
			</tr>
		</table>
	</div>

	<nav th:replace="macros::navpagination(items=${pages},url='/pages')"></nav>

</section>
</html>