<!DOCTYPE html>
<html layout:decorate="~{layout/special}">

<th:block layout:fragment="head-meta">
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</th:block>

<section layout:fragment="content" class='page-content'>
<h1>Portal Setup Page</h1>
<p th:if="${portaltree}">Portal Tree Available</p>
<p th:unless="${portaltree}">Portal Tree Not Available</p>
<div th:if="${admin}">
<p>User admin found</p>
<p th:if="${admin.isAdmin}">User admin is an admin</p>
<p th:unless="${admin.isAdmin}">But user admin is not admin</p>
</div>
<div th:unless="${admin}">
<p>User admin not found</p>
</div>
<form method='post' th:action='@{/setup}'>
<button type='submit'>Setup</button>
</form>
</section>

</html>