<div id="footer">
	<footer class="footer d-none d-sm-block">
		<div class="footer-inner bgc-white-tp1">
			<div class="pt-3 border-none border-t-3 brc-grey-l1 border-double">
				<span class="text-primary-m2 font-bolder text-120">Portal</span> <span
					class="text-muted">Engine &copy; 2019</span> 
					
			</div>
		</div>
		<!-- .footer-inner -->

		<div class="footer-tools">
			<a id="btn-scroll-up" href="#"
				class="btn-scroll-up btn btn-dark btn-smd mb-2 mr-2"> <i
				class="fa fa-angle-double-up mx-1"></i>
			</a>
		</div>
	</footer>
</div>