<div th:fragment="menusys" class="row mx-0">
  
    <div class="bgc-white col-lg-3 col-12 p-4">
    
    	<h3 class="mt-2">SRMS</h3>

		<div class="media">
			<span class="d-block bgc-purple-tp2 radius-1 mr-3 p-2"><i class="fa fa-user text-white text-150"></i></span>
			<a class="media-body text-110 pt-1" href="#">CBMY Portal SRMS</a>
		</div>
		
		<hr class="p-0 m-1"/>
		
		<div class="media ">
			<span class="d-block bgc-purple-tp2 radius-1 mr-3 p-2"><i class="fa fa-user text-white text-150"></i></span>
			<a class="media-body text-110 pt-1" href="#">Contact Centre SRMS</a>
		</div>
		
		<hr class="p-0 m-1"/>
		
		<div class="media ">
			<span class="d-block bgc-purple-tp2 radius-1 mr-3 p-2"><i class="fa fa-user text-white text-150"></i></span>
			<a class="media-body text-110 pt-1" href="#">Talk To COS SRMS</a>
		</div>
		
		<hr class="p-0 m-1"/>
		
		<div class="media ">
			<span class="d-block bgc-purple-tp2 radius-1 mr-3 p-2"><i class="fa fa-user text-white text-150"></i></span>
			<a class="media-body text-110 pt-1" href="#">eRPH Knowledge Base</a>
		</div>
		
		<hr class="p-0 m-1"/>
		
		<div class="media ">
			<span class="d-block bgc-purple-tp2 radius-1 mr-3 p-2"><i class="fa fa-user text-white text-150"></i></span>
			<a class="media-body text-110 pt-1" href="#">Incentive Issue SRMS</a>
		</div>
		
		<hr class="p-0 m-1"/>
		
		<div class="media ">
			<span class="d-block bgc-purple-tp2 radius-1 mr-3 p-2"><i class="fa fa-user text-white text-150"></i></span>
			<a class="media-body text-110 pt-1" href="#">Forward Link</a>
		</div>
		
		<hr class="p-0 m-1"/>
		
		<div class="media ">
			<span class="d-block bgc-purple-tp2 radius-1 mr-3 p-2"><i class="fa fa-user text-white text-150"></i></span>
			<a class="media-body text-110 pt-1" href="#">Forward Hits</a>
		</div>
    
    </div>
    
        <div class="bgc-white col-lg-3 col-12 p-4">
    
    	<h3 class="mt-2">Operations</h3>

		<div class="media">
			<span class="d-block bgc-purple-tp2 radius-1 mr-3 p-2"><i class="fa fa-user text-white text-150"></i></span>
			<a class="media-body text-110 pt-1" href="#">Exceptional Handling</a>
		</div>
		
		<hr class="p-0 m-1"/>
		
		<div class="media ">
			<span class="d-block bgc-purple-tp2 radius-1 mr-3 p-2"><i class="fa fa-user text-white text-150"></i></span>
			<a class="media-body text-110 pt-1" href="#">CMO/SS Visitation & DCORO RCSA</a>
		</div>
		
		</div>
		
		<div class="bgc-white col-lg-3 col-12 p-4">
    
    	<h3 class="mt-2">ICIMB</h3>

		<div class="media">
			<span class="d-block bgc-purple-tp2 radius-1 mr-3 p-2"><i class="fa fa-user text-white text-150"></i></span>
			<a class="media-body text-110 pt-1" href="#">After Sales Request</a>
		</div>
		
		<hr class="p-0 m-1"/>
		
		<div class="media ">
			<span class="d-block bgc-purple-tp2 radius-1 mr-3 p-2"><i class="fa fa-user text-white text-150"></i></span>
			<a class="media-body text-110 pt-1" href="#">Bulk Account Submission</a>
		</div>
		
    
		
		</div>
		
		<div class="bgc-white col-lg-3 col-12 p-4">
    
    	<h3 class="mt-2">Transaction Banking</h3>

		<div class="media">
			<span class="d-block bgc-purple-tp2 radius-1 mr-3 p-2"><i class="fa fa-user text-white text-150"></i></span>
			<a class="media-body text-110 pt-1" href="#">BizLite</a>
		</div>
		
		<hr class="p-0 m-1"/>
		
		<div class="media ">
			<span class="d-block bgc-purple-tp2 radius-1 mr-3 p-2"><i class="fa fa-user text-white text-150"></i></span>
			<a class="media-body text-110 pt-1" href="#">FX</a>
		</div>
		
    
		
		</div>

          
  </div>