<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-fixed navbar-default">
    <div class="navbar-inner">

    <div class="navbar-intro justify-content-xl-between">

        <button type="button" class="btn btn-burger burger-arrowed static collapsed ml-2 d-flex d-xl-none" data-toggle-mobile="sidebar" data-target="#sidebar" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle sidebar">
            <span class="bars"></span>
        </button><!-- mobile sidebar toggler button -->
        
        <a class="navbar-brand text-white" href="#">
            <i class="fa fa-leaf"></i>
            <span  th:text="${@environment.getProperty('spring.application.name')}">Portal</span>
        </a><!-- /.navbar-brand -->
        
        <button type="button" class="btn btn-burger mr-2 d-none d-xl-flex" data-toggle="sidebar" data-target="#sidebar" aria-controls="sidebar" aria-expanded="true" aria-label="Toggle sidebar">
            <span class="bars"></span>
        </button><!-- sidebar toggler button -->
    
    </div><!-- /.navbar-intro -->


    <!-- mobile #navbarMenu toggler button -->
    <button class="navbar-toggler ml-1 mr-2 px-1" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navbar menu">
        <span class="pos-rel">
            <img class="border-2 brc-white-tp1 radius-round" width="36" th:src="@{/images/profile.png}" alt="Profile Photo">
            <span class="bgc-warning radius-round border-2 brc-white p-1 position-tr mr-1px mt-1px"></span>
        </span>
    </button>

    
    <div class="navbar-menu collapse navbar-collapse navbar-backdrop" id="navbarMenu">
        
        <div class="navbar-nav">
        <ul class="nav">
                    
            <div th:replace="${@pageService.renderPage('navbar_menu')}">
            </div>
            
            <li class="nav-item dropdown order-first order-lg-last" sec:authorize="!isAuthenticated()">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">          
                    <img id="id-navbar-user-image" class="d-none d-lg-inline-block radius-round border-2 brc-white-tp1 mr-2" th:src="@{/images/login.png}" alt="Profile Photo">
                    <span class="d-inline-block d-lg-none d-xl-inline-block">
                        <span class="text-90" id="id-user-welcome">Login</span>
                    </span>

                    <i class="caret fa fa-angle-down d-none d-xl-block"></i>
                    <i class="caret fa fa-angle-left d-block d-lg-none"></i>
                </a>

                <div class="dropdown-menu dropdown-caret dropdown-menu-right dropdown-animated brc-primary-m3">
                    <div class="d-none d-lg-block d-xl-none">
                        <div class="dropdown-header">
                            Login
                        </div>
                        <div class="dropdown-divider"></div>
                    </div>                    
                    
                    <form id='loginform' class="form-row p-2" th:action='@{/login}' method='post'>
                        <div class="form-group">
                            <div	class="d-flex align-items-center input-floating-label text-blue-m1 brc-blue-m2">
                                <input type="text"
                                    class="form-control form-control-lg shadow-none"
                                    id="username" name="username" autocomplete="off" /> 
                                <i class="fa fa-user text-grey-m2 ml-n4"></i> 
                                <label class="floating-label text-grey-l1 text-100 ml-n3" for="username">
                                Username
                                </label>
                            </div>
                        </div>
                    
                        <div class="form-group">
                            <div class="d-flex align-items-center input-floating-label text-blue-m1 brc-blue-m2">
                                <input type="password"
                                    class="form-control form-control-lg shadow-none"
                                    id="password" name="password" autocomplete="off" /> 
                                <i class="fa fa-key text-grey-m2 ml-n4"></i> 
                                <label class="floating-label text-grey-l1 text-100 ml-n3" for="password">
                                Password
                                </label>
                            </div>
                        </div>

                        <div class="dropdown-divider brc-primary-l2"></div>

                        <button class="dropdown-item btn btn-outline-grey btn-h-lighter-secondary btn-a-lighter-secondary w-100" type="submit">
                            <i class="fa fa-power-off text-success-d1 text-105 mr-1"></i>
                            Login
                        </button>
                        <a class="dropdown-item btn btn-outline-grey btn-h-lighter-secondary btn-a-lighter-secondary w-100"
                            th:href="@{/register}"> 
                            <i class="fa fa-address-card text-info-d1 text-105 mr-1"></i>
                            Register </a>
                    </form>
                </div>
            </li><!-- /.nav-item:last -->   

            <li class="nav-item dropdown order-first order-lg-last" sec:authorize="isAuthenticated()">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">          
                    <img id="id-navbar-user-image" class="d-none d-lg-inline-block radius-round border-2 brc-white-tp1 mr-2" th:src="@{/images/profile.png}" alt="Profile Photo">
                    <span class="d-inline-block d-lg-none d-xl-inline-block">
                        <span class="text-90" id="id-user-welcome">Welcome,</span>
                        <span class="nav-user-name" sec:authentication="principal.name">Jason</span>
                    </span>

                    <i class="caret fa fa-angle-down d-none d-xl-block"></i>
                    <i class="caret fa fa-angle-left d-block d-lg-none"></i>
                </a>

                <div class="dropdown-menu dropdown-caret dropdown-menu-right dropdown-animated brc-primary-m3">
                    <div class="d-none d-lg-block d-xl-none">
                        <div class="dropdown-header">
                            Welcome, <span sec:authentication="principal.name">Jason</span>
                        </div>
                        <div class="dropdown-divider"></div>
                    </div>

                    <a class="dropdown-item btn btn-outline-grey btn-h-lighter-primary btn-a-lighter-primary" th:href="@{/profile}">
                        <i class="fa fa-user text-primary-m1 text-105 mr-1"></i>
                        Profile
                    </a>
                    
                    <a th:if="${@environment.getProperty('jpf.enable_settings')}" class="dropdown-item btn btn-outline-grey btn-h-lighter-success btn-a-lighter-success" href="#" data-toggle="modal" data-target="#id-ace-settings-modal">
                        <i class="fa fa-cog text-success-m1 text-105 mr-1"></i>
                        Settings
                    </a>

                    <div class="dropdown-divider brc-primary-l2"></div>

                    <form id="logoutform" method="POST" th:action="@{/logout}">
                    <button class="dropdown-item btn btn-outline-grey btn-h-lighter-secondary btn-a-lighter-secondary w-100" type="submit">
                        <i class="fa fa-power-off text-warning-d1 text-105 mr-1"></i>
                        Logout
                    </button>
                        </form>
                </div>
            </li><!-- /.nav-item:last -->
            
            

        </ul><!-- /.navbar-nav menu -->
        </div><!-- /.navbar-nav -->

    </div><!-- /.navbar-menu.navbar-collapse -->

    </div><!-- /.navbar-inner -->
</nav>