<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-fixed navbar-default">
    <div class="navbar-inner">
   
       <div class="navbar-intro justify-content-xl-between">
   
           <button type="button" class="btn btn-burger burger-arrowed static collapsed ml-2 d-flex d-xl-none" data-toggle-mobile="sidebar" data-target="#sidebar" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle sidebar">
              <span class="bars"></span>
           </button><!-- mobile sidebar toggler button -->
           
           <a class="navbar-brand text-white" href="#">
               <i class="fa fa-leaf"></i>
               <span  th:text="${@environment.getProperty('spring.application.name')}">Portal</span>
           </a><!-- /.navbar-brand -->
           
           <button type="button" class="btn btn-burger mr-2 d-none d-xl-flex" data-toggle="sidebar" data-target="#sidebar" aria-controls="sidebar" aria-expanded="true" aria-label="Toggle sidebar">
               <span class="bars"></span>
           </button><!-- sidebar toggler button -->
     
       </div><!-- /.navbar-intro -->
   
   
       <div class="navbar-content">
   
           <button class="navbar-toggler py-2" type="button" data-toggle="collapse" data-target="#navbarSearch" aria-controls="navbarSearch" aria-expanded="false" aria-label="Toggle navbar search">
               <i class="fa fa-search text-white text-90 py-1"></i>
           </button>
   
           <div class="navbar-content-section collapse navbar-collapse navbar-backdrop" id="navbarSearch">
               <div class="d-flex align-items-center ml-lg-3">
                   <i class="fa fa-search text-white mr-n1 d-none d-lg-block"></i>
                   <input type="text" class="navbar-search-input px-1 pl-lg-4 ml-lg-n3 w-100 autofocus" placeholder=" SEARCH ..." aria-label="Search" />
               </div>
           </div>
           
       </div><!-- .navbar-content -->
   
   
       <!-- mobile #navbarMenu toggler button -->
       <button class="navbar-toggler ml-1 mr-2 px-1" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navbar menu">
           <span class="pos-rel">
               <img class="border-2 brc-white-tp1 radius-round" width="36" th:src="@{/images/profile.png}" alt="Profile Photo">
               <span class="bgc-warning radius-round border-2 brc-white p-1 position-tr mr-1px mt-1px"></span>
           </span>
       </button>
   
       
       <div class="navbar-menu collapse navbar-collapse navbar-backdrop" id="navbarMenu">
         
         <div class="navbar-nav">
           <ul class="nav">
           			
           	   <li class="nav-item dropdown dropdown-mega">
                   <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                       <i class="fa fa-list-alt mr-2 d-lg-none"></i>
                       Department
                       <i class="caret fa fa-angle-down d-none d-lg-block"></i>
                       <i class="caret fa fa-angle-left d-block d-lg-none"></i>
                   </a>
                   <div class="p-0 dropdown-menu dropdown-animated bgc-light-m1 brc-primary-m2 border-x-1 border-b-2 ace-scrollbar">
                       <div th:replace="~{interface/menudept}">                           
                       </div>
                   </div>
               </li>
			    
               <li class="nav-item dropdown dropdown-mega">
                   <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                       <i class="fa fa-list-alt mr-2 d-lg-none"></i>
                       System
                       <i class="caret fa fa-angle-down d-none d-lg-block"></i>
                       <i class="caret fa fa-angle-left d-block d-lg-none"></i>
                   </a>
                   <div class="p-0 dropdown-menu dropdown-animated bgc-light-m1 brc-primary-m2 border-x-1 border-b-2 ace-scrollbar">
                       <div th:replace="~{interface/menusys}">                           
                       </div>
                   </div>
               </li>
   
               <li class="nav-item dropdown dropdown-mega" sec:authorize="isAuthenticated()">
                   <a class="nav-link dropdown-toggle pl-lg-3 pr-lg-4" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                       <i class="fa fa-bell text-110 icon-animated-bell mr-lg-2"></i>
   
                       <span class="d-inline-block d-lg-none ml-2">Notifications</span><!-- show only on mobile -->
                       <span id="id-navbar-badge1" class="badge badge-sm badge-warning radius-round text-80 border-1 brc-white-tp5">3</span>
   
                       <i class="caret fa fa-angle-left d-block d-lg-none"></i>
                       <div class="dropdown-caret brc-white"></div>
                   </a>
                   <div class="shadow dropdown-menu dropdown-animated dropdown-sm p-0 bg-white brc-primary-m3 border-1 border-b-2">
                       <div th:replace="~{interface/notification}">
                        </div> 
                    </div>
               </li>
   
               <li class="nav-item dd-backdrop dropdown dropdown-mega" sec:authorize="isAuthenticated()">
                   <a class="nav-link dropdown-toggle pl-lg-3 pr-lg-4" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                       <i class="fa fa-flask text-110 icon-animated-vertical mr-lg-1"></i>
   
                       <span class="d-inline-block d-lg-none ml-2">Tasks</span><!-- show only on mobile -->
                       <span id="id-navbar-badge2" class="badge badge-sm text-90 text-success-l4">+2</span>
   
                       <i class="caret fa fa-angle-left d-block d-lg-none"></i>
                       <div class="dropdown-caret brc-warning-l2"></div>
                   </a>
                   <div class="shadow dropdown-menu dropdown-animated animated-1 dropdown-xs p-0 bg-white brc-warning-l1 border-x-1 border-b-1">             
                    <div th:replace="~{interface/tasks}">
                    </div>
                   </div>
               </li>
   
   
               <li class="nav-item dropdown order-first order-lg-last" sec:authorize="isAuthenticated()">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">          
                       <img id="id-navbar-user-image" class="d-none d-lg-inline-block radius-round border-2 brc-white-tp1 mr-2" th:src="@{/images/profile.png}" alt="Profile Photo">
                       <span class="d-inline-block d-lg-none d-xl-inline-block">
                           <span class="text-90" id="id-user-welcome">Welcome,</span>
                           <span class="nav-user-name" sec:authentication="principal.name">Jason</span>
                       </span>
   
                       <i class="caret fa fa-angle-down d-none d-xl-block"></i>
                       <i class="caret fa fa-angle-left d-block d-lg-none"></i>
                   </a>
   
                   <div class="dropdown-menu dropdown-caret dropdown-menu-right dropdown-animated brc-primary-m3">
                       <div class="d-none d-lg-block d-xl-none">
                           <div class="dropdown-header">
                               Welcome, <span sec:authentication="principal.name">Jason</span>
                           </div>
                           <div class="dropdown-divider"></div>
                       </div>
   
                       <a class="dropdown-item btn btn-outline-grey btn-h-lighter-primary btn-a-lighter-primary" href="{{getPageLink 'page-profile'}}">
                           <i class="fa fa-user text-primary-m1 text-105 mr-1"></i>
                           Profile
                       </a>
                       
                       <a class="dropdown-item btn btn-outline-grey btn-h-lighter-success btn-a-lighter-success" href="#" data-toggle="modal" data-target="#id-ace-settings-modal">
                           <i class="fa fa-cog text-success-m1 text-105 mr-1"></i>
                           Settings
                       </a>
   
                       <div class="dropdown-divider brc-primary-l2"></div>
   
                       <form id="logoutform" method="POST" th:action="@{/logout}">
                       <button class="dropdown-item btn btn-outline-grey btn-h-lighter-secondary btn-a-lighter-secondary w-100" type="submit">
                           <i class="fa fa-power-off text-warning-d1 text-105 mr-1"></i>
                           Logout
                       </button>
                        </form>
                   </div>
               </li><!-- /.nav-item:last -->
               
               <li class="nav-item dropdown order-first order-lg-last" sec:authorize="!isAuthenticated()">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">          
                       <img id="id-navbar-user-image" class="d-none d-lg-inline-block radius-round border-2 brc-white-tp1 mr-2" th:src="@{/images/login.png}" alt="Profile Photo">
                       <span class="d-inline-block d-lg-none d-xl-inline-block">
                           <span class="text-90" id="id-user-welcome">Login</span>
                       </span>
   
                       <i class="caret fa fa-angle-down d-none d-xl-block"></i>
                       <i class="caret fa fa-angle-left d-block d-lg-none"></i>
                   </a>
   
                   <div class="dropdown-menu dropdown-caret dropdown-menu-right dropdown-animated brc-primary-m3">
                       <div class="d-none d-lg-block d-xl-none">
                           <div class="dropdown-header">
                               Login
                           </div>
                           <div class="dropdown-divider"></div>
                       </div>
   
   <form class="form-row p-2" th:action='@{/login}' method='post'>
   
                          <div class="form-group">
                       <div
					class="d-flex align-items-center input-floating-label text-blue-m1 brc-blue-m2">
					<input type="text"
						class="form-control form-control-lg shadow-none"
						id="username" name="username" autocomplete="off" /> <i
						class="fa fa-user text-grey-m2 ml-n4"></i> <label
						class="floating-label text-grey-l1 text-100 ml-n3" for="username">Username</label>
				</div>
				</div>
                       
                       <div class="form-group">
				<div
					class="d-flex align-items-center input-floating-label text-blue-m1 brc-blue-m2">
					<input type="password"
						class="form-control form-control-lg shadow-none"
						id="password" name="password" autocomplete="off" /> <i
						class="fa fa-key text-grey-m2 ml-n4"></i> <label
						class="floating-label text-grey-l1 text-100 ml-n3" for="password">Password</label>
				</div>
			</div>
   
                       <div class="dropdown-divider brc-primary-l2"></div>
   
                       <button class="dropdown-item btn btn-outline-grey btn-h-lighter-secondary btn-a-lighter-secondary w-100" type="submit">
                           <i class="fa fa-power-off text-success-d1 text-105 mr-1"></i>
                           Login
                       </button>
                       <a class="dropdown-item btn btn-outline-grey btn-h-lighter-secondary btn-a-lighter-secondary w-100"
						th:href="@{/register}"> 
						<i class="fa fa-address-card text-info-d1 text-105 mr-1"></i>
						Register </a>
                        </form>
                   </div>
               </li><!-- /.nav-item:last -->
   
           </ul><!-- /.navbar-nav menu -->
         </div><!-- /.navbar-nav -->
   
      </div><!-- /.navbar-menu.navbar-collapse -->
   
    </div><!-- /.navbar-inner -->
</nav>