<li class="nav-item dropdown dropdown-mega">
	<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
		<i class="fa fa-list-alt mr-2 d-lg-none"></i>
        Department
        <i class="caret fa fa-angle-down d-none d-lg-block"></i>
        <i class="caret fa fa-angle-left d-block d-lg-none"></i>
	</a>
    <div class="p-0 dropdown-menu dropdown-animated bgc-light-m1 brc-primary-m2 border-x-1 border-b-2 ace-scrollbar">
	    <div class="row mx-0">
  
		    <div class="bgc-white col-lg-3 col-12 p-4">
		    
		    	<h3 class="mt-2">CBPA</h3>
		
				<div class="media">
					<span class="d-block bgc-purple-tp2 radius-1 mr-3 p-2"><i class="fa fa-user text-white text-150"></i></span>
					<a class="pt-1 text-110 media-body" href="#">Financial Reports</a>
				</div>
				
				<hr class="p-0 m-1"/>
				
				<div class="media ">
					<span class="d-block bgc-purple-tp2 radius-1 mr-3 p-2"><i class="fa fa-user text-white text-150"></i></span>
					<a class="pt-1 text-110 media-body" href="#">Incentive</a>
				</div>
				
				<hr class="p-0 m-1"/>
				
				<div class="media ">
					<span class="d-block bgc-purple-tp2 radius-1 mr-3 p-2"><i class="fa fa-user text-white text-150"></i></span>
					<a class="pt-1 text-110 media-body" href="#">BNM Guideline</a>
				</div>
		
		    	<h3 class="mt-2">Preferred & Prime</h3>
		
				<div class="media ">
					<span class="d-block bgc-purple-tp2 radius-1 mr-3 p-2"><i class="fa fa-user text-white text-150"></i></span>
					<a class="pt-1 text-110 media-body" href="#">Reports</a>
				</div>
				
				<hr class="p-0 m-1"/>
				
				<div class="media ">
					<span class="d-block bgc-purple-tp2 radius-1 mr-3 p-2"><i class="fa fa-user text-white text-150"></i></span>
					<a class="pt-1 text-110 media-body" href="#">Weekly Market Update</a>
				</div>
				
				<hr class="p-0 m-1"/>
				
				<div class="media ">
					<span class="d-block bgc-purple-tp2 radius-1 mr-3 p-2"><i class="fa fa-user text-white text-150"></i></span>
					<a class="pt-1 text-110 media-body" href="#">Customer Relationship Rates</a>
				</div>
				
				<hr class="p-0 m-1"/>
				
				<div class="media ">
					<span class="d-block bgc-purple-tp2 radius-1 mr-3 p-2"><i class="fa fa-user text-white text-150"></i></span>
					<a class="pt-1 text-110 media-body" href="#">Member-Get-Member Program</a>
				</div>
				
				<hr class="p-0 m-1"/>
				
				<div class="media ">
					<span class="d-block bgc-purple-tp2 radius-1 mr-3 p-2"><i class="fa fa-user text-white text-150"></i></span>
					<a class="pt-1 text-110 media-body" href="#">Preferred Tagging Status Checking</a>
				</div>                
		    
		    </div>
		    
		    <div class="bgc-white col-lg-3 col-12 p-4">
		
		    	<h3 class="mt-2">Operations</h3>
		
				<div class="media">
					<span class="d-block bgc-purple-tp2 radius-1 mr-3 p-2"><i class="fa fa-user text-white text-150"></i></span>
					<a class="pt-1 text-110 media-body" href="#">Operations Home</a>
				</div>
				
				<hr class="p-0 m-1"/>
				
				<div class="media ">
					<span class="d-block bgc-purple-tp2 radius-1 mr-3 p-2"><i class="fa fa-user text-white text-150"></i></span>
					<a class="pt-1 text-110 media-body" href="#">CSBM Champions League</a>
				</div>
				
				<h3 class="mt-2">CX</h3>
		
				<div class="media">
					<span class="d-block bgc-purple-tp2 radius-1 mr-3 p-2"><i class="fa fa-user text-white text-150"></i></span>
					<a class="pt-1 text-110 media-body" href="#">Visitor QR</a>
				</div>
				
				<hr class="p-0 m-1"/>
				
				<div class="media ">
					<span class="d-block bgc-purple-tp2 radius-1 mr-3 p-2"><i class="fa fa-user text-white text-150"></i></span>
					<a class="pt-1 text-110 media-body" href="#">Service Level Agreement Charter</a>
				</div>
		
		    	<h3 class="mt-2">My1View</h3>
		
				<div class="media">
					<span class="d-block bgc-purple-tp2 radius-1 mr-3 p-2"><i class="fa fa-user text-white text-150"></i></span>
					<a class="pt-1 text-110 media-body" href="#">My1View Home</a>
				</div>
		
		    	<h3 class="mt-2">Learning & Development</h3>
		
				<div class="media">
					<span class="d-block bgc-purple-tp2 radius-1 mr-3 p-2"><i class="fa fa-user text-white text-150"></i></span>
					<a class="pt-1 text-110 media-body" href="#">Compulsory Courseware State</a>
				</div>  
		    
		    </div>
		    
		    <div class="bgc-white col-lg-3 col-12 p-4">
		
		    	<h3 class="mt-2">SDPC</h3>
		
				<div class="media">
					<span class="d-block bgc-purple-tp2 radius-1 mr-3 p-2"><i class="fa fa-user text-white text-150"></i></span>
					<a class="pt-1 text-110 media-body" href="#">KPI</a>
				</div>
				
				<hr class="p-0 m-1"/>
				
				<div class="media ">
					<span class="d-block bgc-purple-tp2 radius-1 mr-3 p-2"><i class="fa fa-user text-white text-150"></i></span>
					<a class="pt-1 text-110 media-body" href="#">Branch Insight</a>
				</div>
				
				<hr class="p-0 m-1"/>
				
				<div class="media ">
					<span class="d-block bgc-purple-tp2 radius-1 mr-3 p-2"><i class="fa fa-user text-white text-150"></i></span>
					<a class="pt-1 text-110 media-body" href="#">CSD Tube</a>
				</div>
				
				<hr class="p-0 m-1"/>
				
				<div class="media ">
					<span class="d-block bgc-purple-tp2 radius-1 mr-3 p-2"><i class="fa fa-user text-white text-150"></i></span>
					<a class="pt-1 text-110 media-body" href="#">Creating New ID</a>
				</div>
		
		    	<h3 class="mt-2">HR Forms</h3>
		
				<div class="media">
					<span class="d-block bgc-purple-tp2 radius-1 mr-3 p-2"><i class="fa fa-user text-white text-150"></i></span>
					<a class="pt-1 text-110 media-body" href="#">Recruitment Forms</a>
				</div>  
		    
		    </div>
		    
		    <div class="bgc-white col-lg-3 col-12 p-4">
		
		    	<h3 class="mt-2">Sales Management</h3>
		
				<div class="media">
					<span class="d-block bgc-purple-tp2 radius-1 mr-3 p-2"><i class="fa fa-user text-white text-150"></i></span>
					<a class="pt-1 text-110 media-body" href="#">Sales Management Home</a>
				</div>
				
				<hr class="p-0 m-1"/>
				
				<div class="media ">
					<span class="d-block bgc-purple-tp2 radius-1 mr-3 p-2"><i class="fa fa-user text-white text-150"></i></span>
					<a class="pt-1 text-110 media-body" href="#">CSD SMPedia</a>
				</div>
				
				<hr class="p-0 m-1"/>
				
				<div class="media ">
					<span class="d-block bgc-purple-tp2 radius-1 mr-3 p-2"><i class="fa fa-user text-white text-150"></i></span>
					<a class="pt-1 text-110 media-body" href="#">ASB Installment Calculator</a>
				</div>
		
		    	<h3 class="mt-2">Branch Merchandising</h3>
		
				<div class="media">
					<span class="d-block bgc-purple-tp2 radius-1 mr-3 p-2"><i class="fa fa-user text-white text-150"></i></span>
					<a class="pt-1 text-110 media-body" href="#">Branch Merchandising Home</a>
				</div>
		
		    	<h3 class="mt-2">Wealth Management</h3>
		
				<div class="media">
					<span class="d-block bgc-purple-tp2 radius-1 mr-3 p-2"><i class="fa fa-user text-white text-150"></i></span>
					<a class="pt-1 text-110 media-body" href="#">Wealth Management Home</a>
				</div>
		
		    	<h3 class="mt-2">Mortgage Panel</h3>
		
				<div class="media">
					<span class="d-block bgc-purple-tp2 radius-1 mr-3 p-2"><i class="fa fa-user text-white text-150"></i></span>
					<a class="pt-1 text-110 media-body" href="#">Mortgage Panel Home</a>
				</div>        
				    
		    </div> 
		  </div>
    </div>
</li>
            
<li class="nav-item dropdown dropdown-mega">
	<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
		<i class="fa fa-list-alt mr-2 d-lg-none"></i>
        System
		<i class="caret fa fa-angle-down d-none d-lg-block"></i>
		<i class="caret fa fa-angle-left d-block d-lg-none"></i>
	</a>
	<div class="p-0 dropdown-menu dropdown-animated bgc-light-m1 brc-primary-m2 border-x-1 border-b-2 ace-scrollbar">
		<div class="row mx-0">
  
		    <div class="bgc-white col-lg-3 col-12 p-4">
		    
		    	<h3 class="mt-2">SRMS</h3>
		
				<div class="media">
					<span class="d-block bgc-purple-tp2 radius-1 mr-3 p-2"><i class="fa fa-user text-white text-150"></i></span>
					<a class="media-body text-110 pt-1" href="#">CBMY Portal SRMS</a>
				</div>
				
				<hr class="p-0 m-1"/>
				
				<div class="media ">
					<span class="d-block bgc-purple-tp2 radius-1 mr-3 p-2"><i class="fa fa-user text-white text-150"></i></span>
					<a class="media-body text-110 pt-1" href="#">Contact Centre SRMS</a>
				</div>
				
				<hr class="p-0 m-1"/>
				
				<div class="media ">
					<span class="d-block bgc-purple-tp2 radius-1 mr-3 p-2"><i class="fa fa-user text-white text-150"></i></span>
					<a class="media-body text-110 pt-1" href="#">Talk To COS SRMS</a>
				</div>
				
				<hr class="p-0 m-1"/>
				
				<div class="media ">
					<span class="d-block bgc-purple-tp2 radius-1 mr-3 p-2"><i class="fa fa-user text-white text-150"></i></span>
					<a class="media-body text-110 pt-1" href="#">eRPH Knowledge Base</a>
				</div>
				
				<hr class="p-0 m-1"/>
				
				<div class="media ">
					<span class="d-block bgc-purple-tp2 radius-1 mr-3 p-2"><i class="fa fa-user text-white text-150"></i></span>
					<a class="media-body text-110 pt-1" href="#">Incentive Issue SRMS</a>
				</div>
				
				<hr class="p-0 m-1"/>
				
				<div class="media ">
					<span class="d-block bgc-purple-tp2 radius-1 mr-3 p-2"><i class="fa fa-user text-white text-150"></i></span>
					<a class="media-body text-110 pt-1" href="#">Forward Link</a>
				</div>
				
				<hr class="p-0 m-1"/>
				
				<div class="media ">
					<span class="d-block bgc-purple-tp2 radius-1 mr-3 p-2"><i class="fa fa-user text-white text-150"></i></span>
					<a class="media-body text-110 pt-1" href="#">Forward Hits</a>
				</div>
		    
		    </div>
		    
		        <div class="bgc-white col-lg-3 col-12 p-4">
		    
		    	<h3 class="mt-2">Operations</h3>
		
				<div class="media">
					<span class="d-block bgc-purple-tp2 radius-1 mr-3 p-2"><i class="fa fa-user text-white text-150"></i></span>
					<a class="media-body text-110 pt-1" href="#">Exceptional Handling</a>
				</div>
				
				<hr class="p-0 m-1"/>
				
				<div class="media ">
					<span class="d-block bgc-purple-tp2 radius-1 mr-3 p-2"><i class="fa fa-user text-white text-150"></i></span>
					<a class="media-body text-110 pt-1" href="#">CMO/SS Visitation & DCORO RCSA</a>
				</div>
				
				</div>
				
				<div class="bgc-white col-lg-3 col-12 p-4">
		    
		    	<h3 class="mt-2">ICIMB</h3>
		
				<div class="media">
					<span class="d-block bgc-purple-tp2 radius-1 mr-3 p-2"><i class="fa fa-user text-white text-150"></i></span>
					<a class="media-body text-110 pt-1" href="#">After Sales Request</a>
				</div>
				
				<hr class="p-0 m-1"/>
				
				<div class="media ">
					<span class="d-block bgc-purple-tp2 radius-1 mr-3 p-2"><i class="fa fa-user text-white text-150"></i></span>
					<a class="media-body text-110 pt-1" href="#">Bulk Account Submission</a>
				</div>
				
		    
				
				</div>
				
				<div class="bgc-white col-lg-3 col-12 p-4">
		    
		    	<h3 class="mt-2">Transaction Banking</h3>
		
				<div class="media">
					<span class="d-block bgc-purple-tp2 radius-1 mr-3 p-2"><i class="fa fa-user text-white text-150"></i></span>
					<a class="media-body text-110 pt-1" href="#">BizLite</a>
				</div>
				
				<hr class="p-0 m-1"/>
				
				<div class="media ">
					<span class="d-block bgc-purple-tp2 radius-1 mr-3 p-2"><i class="fa fa-user text-white text-150"></i></span>
					<a class="media-body text-110 pt-1" href="#">FX</a>
				</div>
				
		    
				
				</div>
		
		          
		  </div>
	</div>
</li>