<ul th:fragment="navpagination(items,url)" th:if="${items.totalPages gt 1 }" class="pagination is-centered" role="navigation" aria-label="pagination">
    <li th:if="${items.number gt 0}" class="paginate_button page-item previous">        
        <a class="page-link" th:href="${@pageService.urlParamUpdate('page',items.number-1)}">
            Previous
        </a>
    </li>
    
    <li th:if="${items.number gt 6}" class="paginate_button page-item">        
        <a class="page-link"  th:href="${@pageService.urlParamUpdate('page',0)}">
            1
        </a>
    </li>
    
    <li th:if="${items.number gt 6}" class="paginate_button page-item disabled">
        <a class="page-link"  href="#">
            ...
        </a>
    </li>
    
    <li th:class="${items.number == i} ? 'active paginate_button page-item' : 'paginate_button page-item'" th:each="i: ${#numbers.sequence(items.number>6?items.number-5:0, items.totalPages<10?items.totalPages-1:items.number<5?9:items.totalPages-items.number>5?items.number+5:items.totalPages-1, 1)}">
        <span th:if="${items.number != i}">            
            <a class="page-link" aria-label="Goto page ${i+1}" th:text="${i+1}" th:href="${@pageService.urlParamUpdate('page',i)}">1</a>
        </span>
        <span class="page-link" th:if="${items.number == i}" th:text="${i+1}">
        </span>
    </li>
    
    <li th:if="${items.number lt items.totalPages-6}" class="paginate_button page-item disabled">
        <a class="page-link"  href="#">
            ...
        </a>
    </li>
    
    <li th:if="${items.number lt items.totalPages-6}" class="paginate_button page-item">
        <a class="page-link"  th:href="${@pageService.urlParamUpdate('page',items.totalPages-1)}" th:text="${items.totalPages}">
            1
        </a>        
    </li>

    <li th:if="${items.number lt items.totalPages-1}" class="paginate_button page-item next">        
        <a class="page-link" th:href="${@pageService.urlParamUpdate('page',items.number+1)}">
            Next
        </a>
    </li>
</ul>