<div th:fragment="sidebar" id="sidebar" class="sidebar sidebar-fixed expandable sidebar-default d-none d-xl-block">
    <div class="sidebar-inner">
        <div class="ace-scroll flew-grow-1">
            <div class="sidebar-section my-2">

            </div>

            <ul class="nav has-active-border" role="navigation" aria-label="main">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/p/}">Home</a>
                </li>
                <th:block sec:authorize="hasRole('ROLE_NODE_ADMIN')" >
                <th:block th:if="${pnode}">
                <li class="nav-item" th:if='${pnode.objectType==null || pnode.objectType=="Folder" || pnode.objectType==""}'>
                    <a class="nav-link dropdown-toggle" href="#">
                    <span class="nav-text">
                    	<span>New</span>
                    </span>
                    <b class="caret fa fa-angle-left rt-n90"></b>
                    </a>
                    
                    <div class="submenu collapse">
	                    <ul class="submenu-inner">
	                    	<li class="nav-item">
			                    <a class="nav-link" th:href="@{/p{fullpath}/create?objectType=Folder(fullpath=${@treeService.rootLessPath(pnode)})}">Folder</a>
			                </li>
		                    <li class="nav-item">
			                    <a class="nav-link" th:href="@{/p{fullpath}/create?objectType=Page(fullpath=${@treeService.rootLessPath(pnode)})}">Page</a>
			                </li>
			                <li class="nav-item">
			                    <a class="nav-link" th:href="@{/p{fullpath}/create?objectType=File(fullpath=${@treeService.rootLessPath(pnode)})}">File</a>
			                </li>
	                    </ul>
                    </div>
                    
                </li>
                </th:block>
                
                <li class="nav-item"  th:if='${pnode}'>
                    <a class="nav-link" th:href="@{/p{fullpath}/edit(fullpath=${@treeService.rootLessPath(pnode)})}">Edit</a>
                </li>
                <li class="nav-item"  th:if='${pnode}'>
                    <a class="nav-link" th:href="@{/p{fullpath}/delete(fullpath=${@treeService.rootLessPath(pnode)})}">Delete</a>
                </li>
                </th:block>
                
                <li sec:authorize="hasRole('ROLE_SYSTEM_ADMIN')" class="nav-item">
                    <a class="nav-link" th:href="@{/users}">Users</a>
                </li>
                <li sec:authorize="hasRole('ROLE_SYSTEM_ADMIN')" class="nav-item">
                    <a class="nav-link" th:href="@{/users/roles}">User Roles</a>
                </li>
                <li sec:authorize="hasRole('ROLE_SYSTEM_ADMIN')" class="nav-item">
                    <a class="nav-link" th:href="@{/pages}">Pages</a>
                </li>
                <li sec:authorize="hasRole('ROLE_SYSTEM_ADMIN')" class="nav-item">
                    <a class="nav-link" th:href="@{/files}">Files</a>
                </li>
                <li sec:authorize="hasRole('ROLE_SYSTEM_ADMIN')" class="nav-item">
                    <a class="nav-link" th:href="@{/settings}">Settings</a>
                </li>
                <li sec:authorize="hasRole('ROLE_SYSTEM_ADMIN')" class="nav-item">
                    <a class="nav-link" th:href="@{/trackers}">Trackers</a>
                </li>
                <li sec:authorize="hasRole('ROLE_SYSTEM_ADMIN')" class="nav-item">
                    <a class="nav-link" th:href="@{/trees}">Trees</a>
                </li>
                <li sec:authorize="hasRole('ROLE_SYSTEM_ADMIN')" class="nav-item">
                    <a class="nav-link" th:href="@{/dataupdates}">Data Updates</a>
                </li>
            </ul>
        </div>
    </div>
</div>