<!DOCTYPE html>
<html layout:decorate="~{layout/main}">

<th:block layout:fragment="head-context">
<style>
@media only screen and (max-width: 760px),(min-device-width: 768px) and (max-device-width: 1024px)  {
	.responsive td:nth-of-type(1):before { content:'#'; }
	.responsive td:nth-of-type(2):before { content:'Module'; }
}
</style>
</th:block>

<section layout:fragment="content" class='page-content'>
	<div class='content'>
		<h1>Modules Listing</h1>
		<a href="#" th:href="@{/admin/modules/upload}" class="btn btn-primary">Upload</a>
		<a href="#" th:href="@{/admin/modules/update}" class="btn btn-primary">Update</a>
		
		<div class="card-body px-3 pb-1">
		  <form class="mt-lg-3">		  	
		  	<div class="form-group row">
		  		<div class="mb-1 mb-sm-0 col-sm-3 col-form-label text-sm-right pr-0">        	
		  			<label>Search:</label>
		  		</div>
		  		<div class="col-sm-9 input-floating-label text-blue-d2 brc-blue-m1">
		  			<input type='text' name='q' th:value="${param.q}"/><button class="btn btn-primary m-1">Search</button>
		  		</div>
		  	</div>
		  </form>
		 </div>
		 
		<table class="table responsive">
			<thead>
			<tr>
				<th>#</th>
				<th>Module</th>
				<th>&nbsp;</th>
			</tr>
			</thead>
			<tr th:each="module,iter: ${modules}">
				<td><a href='#'
					th:href='@{/admin/modules/edit/{id}(id=${module.id})}'
					th:text="${iter.index + 1}">2</a></td>
				<td th:text="${module.name}">module</td>				
				<td class='row'>
					<form method='post'
						class='form-inline'
						th:action='@{/admin/modules/export/{id}(id=${module.id})}'
						th:object="${module}">
						<input type='submit' class='btn btn-success mx-2'
							th:onClick='return confirm("Confirm export module " + this.getAttribute("data-fname") + "?");'
							th:attr="data-fname=${module.name}" value='Export' />
					</form>
					<form method='post'
						class='form-inline'
						th:action='@{/admin/modules/import/{id}(id=${module.id})}'
						th:object="${module}">
						<input type='submit' class='btn btn-danger mx-2'
							th:onClick='return confirm("Confirm import module " + this.getAttribute("data-fname") + "?");'
							th:attr="data-fname=${module.name}" value='Import' />
					</form>
					<a th:href="@{/admin/modules/copy/{id}(id=${module.id})}" class='btn btn-info mx-2'>Copy</a>
				</td>
			</tr>
		</table>
	</div>

	<nav th:replace="interface/pagination::navpagination(items=${modules},url='/admin/modules')"></nav>

</section>
</html>