<!DOCTYPE html>
<html layout:decorate="~{layout/main}">

<section layout:fragment="content" class='page-content'>
	<div class='content'>
		<h1>Modules Listing</h1>
		<a href="#" th:href="@{/modules/update}" class="btn btn-primary">Update</a>
		<table class="table">
			<tr>
				<th>#</th>
				<th>Module</th>
				<th>&nbsp;</th>
			</tr>
			<tr th:each="module,iter: ${modules}">
				<td><a href='#'
					th:href='@{/modules/edit/{id}(id=${module.id})}'
					th:text="${iter.index + 1}">2</a></td>
				<td th:text="${module.name}">module</td>				
				<td>
					<form method='post'
						th:action='@{/modules/export/{id}(id=${module.id})}'
						th:object="${module}">
						<input type='submit' class='button danger'
							th:onClick='return confirm("Confirm export module " + this.getAttribute("data-fname") + "?");'
							th:attr="data-fname=${module.name}" value='Export' />
					</form>
					<form method='post'
						th:action='@{/modules/import/{id}(id=${module.id})}'
						th:object="${module}">
						<input type='submit' class='button danger'
							th:onClick='return confirm("Confirm import module " + this.getAttribute("data-fname") + "?");'
							th:attr="data-fname=${module.name}" value='Import' />
					</form>
				</td>
			</tr>
		</table>
	</div>

	<nav th:replace="interface/pagination::navpagination(items=${modules},url='/modules')"></nav>

</section>
</html>